/* huync2 cap nhap table */
.container-table td {
    padding: 5px;
    border: 1px solid #AAA;
    text-align: justify;
}

.container-table td.none-border-right {
    border-right: none;
}

.container-table .bg2 {
    background: #bde4e5;
}

#payment-charge-form div label {
    float: left;
    width: 120px;
}

#payment-charge-form {
    width: auto;
}

#payment-charge-form div.form-group div.form-control input[type="submit"] {
    width: 100px;
    margin-left: 120px;
}
#payment-charge-form div.form-group div.command-button input[type="submit"] {
    width: 100px;
    margin-left: 120px;
}