

/**********************BEGIN ADD THEM*************************/
.tab_user_alert {
    overflow: hidden;
    width: 165px;
}

.row_tab{
    background: url("../images/bg_tab_user.jpg") repeat-x scroll 0 0 transparent;
    display:block;
    width:165px;
    height:29px;       
}

.tab_user_pd{
    padding-left:28px;
    margin-left:3px;
    line-height:29px !important;
}

#tab_user_pf{
    background: url("../images/icon_tab.png") 0px 5px no-repeat;
}

#tab_user_fr{
    background: url("../images/icon_tab.png") 0px -27px no-repeat;
}

#tab_user_of{
    background: url("../images/icon_tab.png") 0px -54px no-repeat;
}

#tab_user_ec{
    background: url("../images/icon_tab.png") 0px -85px no-repeat;
}

#tab_user_pw{
    background: url("../images/icon_tab.png") 0px -115px no-repeat;
}

#tab_user_av{
    background: url("../images/icon_tab.png") 0px -145px no-repeat;
}

#tab_user_logout{
    background: url("../images/icon_logout.png") left center no-repeat;
    margin-left: 8px;
}

#arr_user_alert{
    position: absolute;
    top: -7px;
    left: 80px;
}

#left_profile_sidebar{
    background: url("../images/bg_left_user.png") bottom center no-repeat #121212;
    padding-bottom: 232px;
}

#user_info_detail{
    margin-left:120px;
    margin-top:-12px;
}

#user_info_detail div{
    color: #ffffff;
    background:  url("../images/profile_line_bottom.png") bottom center no-repeat;
    margin: 0px auto;
    padding: 0;
    /*padding-bottom: 3px;*/
}

#user_info_detail div.last{    
    background:none !important;   
}

#user_info_detail .profile_username{
    color:#f8991b;
    font-size: 12px;
    font-family: arial;
    font-weight:bold;      
    margin: 5px 0;
    text-align: left; 
    padding-top: 10px;
}

#user_info_detail .profile_mi {  
    line-height: 20px;
    margin: 5px auto;
    color: yellow;
    text-align: left; 
    /*text-indent: -10px;*/
}
#user_info_detail .profile_bang {    
    line-height: 20px;
    margin: 5px auto;
    color: violet;
    text-align: left; 
    /*text-indent: -10px;*/
}

#user_info_detail .profile_capbac{
    line-height: 20px;
    margin: 5px auto;
    text-align: left;
    color: darkgrey;
}

#user_info_detail .profile_diem{
    /*background:url(../images/login/point.png) no-repeat top right;*/
    line-height: 20px;
    margin: 5px auto;
    color: #FFF;
    text-align: center; 
    text-indent: -10px;
}

.register-left{
    width:466px; 
    margin: 20px 15px 20px 22px;
}

.register-right{ 
    background: url("../images/line_break.png") left center no-repeat;
    height: 396px;
    margin: 20px 15px 20px 0;
    width: 430px;
    padding:10px 0px 0px 20px ;
}

.register-right h2{
    font-family: arial;
    font-size:17px;
    font-weight:bold;
    color: #CCCCCC;
}

.register-right p{
    color:#999999;
}

#header_register{
    background: url("../images/key_register.png") left center no-repeat;
    padding: 0px 0px 0px 64px;
    height:65px;     
}

.header_register h2{
    background: url("../images/register_line_bottom.png") bottom center no-repeat;
    padding:30px 0px 5px 5px;
    font-family: arial;
    font-size:23px;
    font-weight:bold;

}

.ul_register{
    background: url("../images/re_breack_mid.png") bottom center no-repeat;
    list-style: none outside none;
    margin: 20px 0px;
    padding: 0;
}

.ul_register li{
    margin-bottom:15px;
}

.ul_register li label{
    float: left;
    margin-right: 10px;    
    width: 115px;
    font-weight:bold;          
}

.ul_register li input{
    width:245px;
    background-color: #000000;
    border: #636363 solid 1px;
    color:#ffffff;
}

.register_star{
    background: url("../images/register_icon_start.png") left center no-repeat;
    width: 8px;
    height: 8px;    
}

.re_extend{
    height:100px;
}

.re_google{
    background: url("../images/google_icon_register.png") left center no-repeat;
    width:27px;
    height:27px;
    padding-left:30px;
    float:none;
}
.re_yahoo{
    background: url("../images/yahoo_icon_register.png") left center no-repeat;
    width:27px;
    height:27px;
    padding-left:30px;
    float:none;
}

#header_fogotpass{
    background: url("../images/icon_close_quenmk.png") left center no-repeat;
    padding: 0px 0px 0px 64px;
    height:65px;  
}



#fogot_pass_new li label{
    float: left;
    margin-right: 10px;    
    width: 50px;
    font-weight:bold;          
}

#fogot_pass_new li input{
    width:345px;
    background-color: #000000;
    border: #636363 solid 1px;
    color:#ffffff;
}

.register-left span{
    color: #FFCC00;
    display: block;
    float: right;
    font-family: arial;
    font-size: 17px;
    padding: 2px 0 0 5px;
}

.register-left a{
    padding-right: 50px;
}

/**********************END ADD THEM*************************/



.icoin {
    background: url("../images/icoin.jpg") no-repeat scroll center center transparent;
    height: 340px;
}

.onepay {
    background: url("../images/onepay.jpg") no-repeat scroll center center transparent;
    height: 340px;
}
/* BEGIN LOGIN */
.login_header{
    background: url("../images/main-bg.jpg") repeat-x scroll center center transparent;
    /*background-color:#666666;*/
    height:88px;
}
.login_banner{
    background:url(../images/bgbanner.jpg) top center no-repeat;
    position: relative;
    height: 100px;
	margin:0 auto;
	width:1010px;
}
.login_log{
    /*background:url(../images/bg_login.png) top center no-repeat;*/
    /*margin-top: 13px;*/
    height:90px;
    width: 337px;
}
/*
.login_log span{
    padding-left: 28px;
}
*/
.login_box{
    font-family: Arial,Verdana, Helvetica, sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#FF00;
    margin-top: 14px;	
    margin-left: 15px;
}
.login_box p{
    float:left;
    padding-left:8px;	
}
.login_box input{       
    /*width: 100px;
    height: 11px;	
    margin-top: 3px;	*/
    width: 102px;
    height: 20px;
    padding: 0 5px;
}
.login_box_input2{
    background: url(../images/form-login.png) no-repeat top left;
    width: 124px;
    height: 24px;
}
.login_span_username{
    background: url(../images/login-icon.png) no-repeat;
    padding-left: 10px;
    overflow: hidden;
}
.login_span_password{
    background: url(../images/password-icon.png) no-repeat;
    padding-left: 10px;
    overflow: hidden;
}
.login_box_input3{
    background: url(../images/form-login.png) no-repeat top left;
    width: 124px;
    height: 24px;
}

.login_box_button{
    /*background: url(../images/form-login.png) no-repeat top left;*/
    width: 124px;
    height: 24px;
    margin-top: -50px;
    margin-left: 150px;
}

.login_box a{
    margin-top:6px;
}
.login_box label{
    margin-top:6px;
}
.login_text {
    color:#FFFFFF;
    font:Verdana, Arial, Helvetica, sans-serif;
    margin-left: 18px;
}
.login_text a{
    padding-left: 5px;
    text-decoration:underline;
}
.log_image{
    margin-top: 12px;	
    margin-left: 30px;
}
.log_image img{
    border:solid 1px #fff;
    width: 37px;
    height: 37px;
    padding: 1px;
}
.login_info{
    color:#FFFFFF;
    font:Verdana, Arial, Helvetica, sans-serif;
    margin-left: 82px;
}
.login_info a{
    background:url(../images/login/username.png) top left no-repeat;
    width: 265px;
    height:16px;
    font-weight:bold;
    padding-left:6px;
    font-size:12px;
    color:#FFFFFF;
}
.login_info p{
    float:left;
    line-height: 20px;
    margin-right: 10px;
    color: #0F93FF;
}
.login_info span{
    display:block;
    float:right;
    padding-left: 0px;
}

.login_info p.ciao {
    background:url(../images/login/ciao.png) no-repeat center right;
    padding-right: 13px;
    color: #7EA800;
}

.login_info p.point {
    background:url(../images/login/point.png) no-repeat top right;
    padding-right: 20px;
    color: #FFF;
    margin-right: 7px;
}


/*----------------*/
#addaut_yahoo{
    background: url("../images/login/addyahoo.png") left center no-repeat;
    padding: 0px 0px 0px 64px;
    height:65px;     
}
#addaut_google{
    background: url("../images/login/addgoogle.png") left center no-repeat;
    padding: 0px 0px 0px 64px;
    height:65px;     
}
.aut_img{
    float:left;
    margin: 30px 5px;
    width:90px;
}
.aut_img img{
    width:110px;
    height:108px;
}
.aut_form{
    float:left;
    width: 340px;
    list-style: none outside none;
    margin: 10px 0px;
    padding: 0;
}
.aut_form li{
    margin-bottom:10px;
}

.aut_form li label{
    float: left;
    margin-right: 10px;    
    width: 115px;
    font-weight:bold;          
}

.aut_form li input{
    width:156px;
    height:16px;
    background-color: #000000;
    border: #636363 solid 1px;
    color:#ffffff;
}
.aut_line{
    background: url("../images/login/autline.png") left bottom no-repeat;
    padding: 0px 0px 0px 64px;
    width:400px;
    display:block;
}
.aut_opi{
    margin:10px 0px 0px 26px;
    color:#7f7f7f;
}
.aut_opi span{
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
    font-weight:bold;
    color:#FFFFFF;
}
.aut_opi label{
    color:#FFFFFF;
    font-weight:bold;
    width: 155px;
    float:left;
}
.aut_opi input{
    width: 285px;
    height:16px;
    background-color: #000000;
    border: #636363 solid 1px;
    color:#ffffff;
}
.aut_error{
    color:#CC0000;
    float:left;
}
.aut_left{
    margin-left:125px;
}
.aut_regisopi{
    margin-left:0px;
}
.aut_regisopi span{
    color:#FFFFFF;
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    float:left;
    margin-right:10px;

}
.aut_regisopi a{
    padding-right: 20px;
}
.aut_regisopi em{
    display:block;
    float:right;
    margin: 2px 0px 0px 5px;
    color:#FFCC00;
    font-size:17px;
}
.update_info{
    color:#FFFF00;
    margin: 0px 20px;
}
.info_user{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 25px 0px 0px 15px;
}
.info_form{
    margin-left:15px;
}
.messeger_cmt{
    background: url("../images/login/messege.png") no-repeat;
    padding-left: 25px;
    padding-right: 55px;
    width:295px;
    height:109px;
    font-size:12px;
    font-weight:normal;
}
/* viet tiep phan su kien */

.tlmn_h1{
    text-align: center;
    font-size: 16px;
    font-family: Arial;
}
.tlmn_h1 span{
    font-size: 11px;
    color: #666;
}
.tlmn_h1 p{
    text-align: left;
    font-size: 14px;
    color: #CCC;
    padding-left: 15px;
}
.profile-body-tlmn{
    background-color: #121212;
    overflow: hidden;
    width: 730px;
}
.giaodich_tlmn{
    background: url("../images/button/title.png") no-repeat;
    margin-top: 10px;
    border-top: 1px dotted #595959;
    font-weight: 700;
    height: 33px;
    line-height: 33px;
}
.sub_menu img{
    height: 32px;
}
.sub_menu ul li{
    margin-left: 5px;
}


.pager {
    float: right;
    margin-right: 15px;
}

.pager li {
    background: url("../images/gmdt-paging.png") no-repeat -55px -3px;
    margin: 5px 3px;
}

.pager li, .pager li a {
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
}

.pager li.current, .pager li:hover{
    background-position: -29px -3px;
}

.pager li.last, .pager li.first {
    display: none;
}

.yahoo_menu {
    background: url("../images/icon_yahoo.png") no-repeat scroll center center transparent;
    display: block;
    float: right;
    height: 30px;
    line-height: 30px;
    width: 30px;
}

.sky_menu {
    background: url("../images/icon_skype.png") no-repeat scroll center center transparent;
    display: block;
    float: right;
    height: 30px;
    line-height: 30px;
    width: 30px;
}



.lsmenu {
    display: table;
    width: 100%;
    clear: both;
}

.lsmenu .tabs{
    border: 1px solid #444;
    border-width: 1px 0;
    padding: 1px 0;
    width: 100%;
    margin: 0;
}

.lsmenu .tabs li {
    background: url("../images/social/sprites7.png") no-repeat;
    float: left;
    margin-left: 1px;
    height: 30px;

}

.lsmenu .tabs li a {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    width: 100%;
    display: table;
    color: #fff;
}


#napcash {
    width: 474px;
    height: 431px;
    margin-left: 8px;
    border: 1px solid #373737; 
    border-width: 0 1px 1px;
}

.napcash_title {
    line-height: 40px; 
    padding-left: 10px; 
    background: transparent; 
    font-size: 22px; 
    color: #F99E18;
    height: 40px;
    float: left;
}

.napcash_point {
    float: right; 
    line-height: 40px; 
    height: 40px;
    margin-right: 10px;
}

.napcash_point_icon {
    color: #fff;
    padding-right: 17px;
    background:url(../images/login/point.png) no-repeat right center;
}

#history .lsmenu .tabs  .giaodich {
    width: 137px;
    background-position: 0 0;
}

#history .lsmenu .tabs  .giaodich.active {
    background-position: 0 -31px;
}

#history .lsmenu .tabs  .play {
    width: 137px;
    background-position: -274px 0;
}

#history .lsmenu .tabs  .play.active {
    background-position: -137px 0;
}

#napcash .lsmenu .tabs  .sms.active {
    background-position: -167px -202px;
}

#napcash .lsmenu .tabs  .sms {
    width: 96px;
    background-position: -167px -171px;
}

#napcash .lsmenu .tabs  .icoin.active {
    background-position: 0 -202px;
}

#napcash .lsmenu .tabs  .icoin {
    width: 157px;
    background-position: 0 -171px;
}

#napcash .lsmenu .tabs .onepay {
    width: 120px;
    background-position: -268px -171px;
}

#napcash .lsmenu .tabs  .onepay.active {
    background-position: -268px -202px;
}

#napcash .lsmenu .tabs .vtcebank {
    width: 96px;
    background-position: 0 -443px;
}

#napcash .lsmenu .tabs  .vtcebank.active {
    background-position: 0 -474px;
}

#napcash .lsmenu .tabs .tik_gold {
    width: 120px;
    background-position: 0px -410px;
}

#napcash .lsmenu .tabs  .tik_gold.active {
    background-position: 0px -410px;
}

#napcash .lsmenu .tabs .tik_forum_gold {
    font-weight: bold;
    width: 175px;
    background-position: -195px -410px;
}

#napcash .lsmenu .tabs  .tik_forum_gold.active {
    font-weight: bold;
    background-position: -195px -410px;
}

#napcash #smscontent, #napcash #icoincontent, #napcash #onepaycontent, #napcash #vtcebankcontent, #napcash #vtcmobilecontent {
    padding: 10px 0 0 10px;
    width: 950px;
    height: 368px;
    padding: 10px;
}

#napcashcontainer {
    line-height: 18px;
}

#napcashcontainer p {
    margin: 8px auto;
}

.xeng_syntax {
    font-size: 17px;
    color: #F99E18;
}

.xeng_desc {
    font-size: 12px;
    color: #666666;
    font-weight: bold;
}

.sms_table {
    background: url("../images/sms_table.png") no-repeat top left;
    width: 941px;
    height: 195px;
}

.sms_table_social {
    background: url("../images/sms_table_social.png") no-repeat top center;
    width: 454px;
    height: 228px;
}


#game_selectbox {
    display: inline-table;
    background: url("../images/social/sprites7.png") no-repeat 0 -328px;
    float: left;
}

#game_selectbox span {
    width: 160px;
    height: 24px;
    line-height: 24px;
    background: url("../images/social/sprites7.png") no-repeat right -328px;
    display: table;
    margin-left: 1px;
    padding: 0 20px 0 5px;
    cursor: pointer;
    font-size: 11px;
    color: #ff9d00;
}

#game_list_filter {
    display: table;
    width: 160px;
    border: 1px solid #4f4f4f;
    border-width: 1px 1px 0;
    position: absolute;
    background-color: #2e2e2e;
    margin-left: 68px;
    margin-top: 22px;
    font-size: 11px;
    color: #ff9d00;
}

#game_list_filter div {
    width: 100%:
        height: 22px;
    line-height: 22px;
    border-bottom: 1px solid #4f4f4f;
    cursor: pointer;
    padding-left: 5px;
}


#game_list_filter div:hover {
    background-color: #222222;
}

.corner5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url("../images/border-radius.htc");
}

.gmdt-play-facebook {background:url(../images/social/sprites7.png) 0px -352px;width:126px;height:27px;display:block; margin-left: 10px;}

.deal_detail .quick {
    position: absolute;
    background: url("../images/fast_view_like.png") no-repeat 0px 1px;
    width: 172px;
    height: 31px;
    z-index: 2;
    text-align: center;
    /*top: 15px;
    left: 29px;*/
    display: none;
    font-size: 11px;
    margin-top: 90px;
}

.deal_detail .quick .like:hover{
    background: url("../images/fast_view_like.png") no-repeat scroll -9px -65px transparent;
    color: #FFFFFF;       


}
.deal_detail .quick .like {
    background: url("../images/fast_view_like.png") no-repeat scroll -9px -34px transparent;
    cursor: pointer;
    float: left;
    height: 22px;
    margin-left: 8px;
    margin-top: 5px;
    padding-left: 18px;
    width: 46px;
    line-height: 21px;
    color: #C7C2B2;
}
.deal_detail  .quick .quickView:hover{
    background: url("../images/fast_view_like.png") no-repeat scroll -81px -65px transparent;
    color: #FFFFFF;
}
.deal_detail .quick .quickView {
    background: url("../images/fast_view_like.png") no-repeat scroll -81px -35px transparent;
    cursor: pointer;
    float: left;
    height: 21px;
    line-height: 19px;
    margin-left: 7px;
    margin-top: 6px;
    padding-left: 10px;
    width: 83px;
    color: #C7C2B2;
}
/*
.image {
margin: 0 auto;
width: 222px;
height: 222px;
overflow: hidden;
}
.image img {
width: 222px;
height: 222px;
display: block;
}
*/
.address-mediamart {
    padding: 18px 0 0px;
}
.address-mediamart .center {
    height: 0px;
}
.address-mediamart ul {
    border-left: 1px solid #2a1f1f;
    /*border-left-image: url("../images/ine-footer.png") 10 round round;#333333*/
    padding-left: 2%;   
    height: 145px;
    border-top: 2px solid #333333;
}

.address-mediamart ul.first {
    border-left: none;
    width: 20%;
}
.address-mediamart ul.huongdan {
     border-left: 1px solid #2a1f1f;
    /*border-left-image: url("../images/ine-footer.png") 10 round round;#333333*/
  
    height: 145px;
    border-top: 2px solid #333333;
    width: 16%;
}	
.address-mediamart ul.linkgame {
     border-left: 1px solid #2a1f1f;
    /*border-left-image: url("../images/ine-footer.png") 10 round round;#333333*/

    height: 145px;
    border-top: 2px solid #333333;
    width: 15%;
}		
.address-mediamart ul.support{  border-left: 1px solid #2a1f1f;
    /*border-left-image: url("../images/ine-footer.png") 10 round round;#333333*/
   
    height: 145px;
    border-top: 2px solid #333333;
    width: 17%;}	


	
.address-mediamart ul li {
    width: 100%;
    margin: 2px 0;
    font-size: 11px;
    /*color: #2d2d2d;*/
    color: white;

}
.address-mediamart ul.last {
    width: 21.5%;
}
.address-mediamart ul li span{font: bold 12px/25px Arial;
    color: #ffffff;}
.address-mediamart ul li h1 {
    font: bold 11px Arial;
    color: #ffffff;
	margin:0; padding:0;
	display: inline;
}

.address-mediamart ul li.header{
    border-bottom: 1px solid #120909;
    background-color: #0b0a0a;
    margin-left: -19px;
    padding-right: 20px;
    /*padding-left: 20px;    */
}

/*---User---*/
#profile_list {
    height: 50px;
    /*margin: 0 auto;*/
    padding-top: 10px;
    width: 236px;
}

#profile_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#profile_list li {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    /*
    border-bottom: dotted 1px #8B8D93;
    border-right: dotted 1px #8B8D93;
    border-top: dotted 1px #8B8D93;
    border-left: dotted 1px #8B8D93;*/
}
.form_user {
    margin-left: 280px;
    margin-top:  -60px;
    text-align: left;
}

.uiButton {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
}
.uiButtonConfirm {
    border: 1px solid #2c5115;
    background-image: url("../images/button/Btn_Banghoi.png");
    background-position: -352px -103px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    padding: 2px 6px;
}

/*---Clan*---*/
.bang_text {
    margin: 0;
    float: left;
    width: 160px;
    margin-left: 10px;
}

#blog_content {
    width: 420px;
    height: auto;
    float: left;
    margin-left: 10px;
}
#blog_content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#blog_content li {
    padding-left: 5px;
    padding-top: 5px;
    width: 300px;
    height: auto;
    float: left;
}
.blog_content_id {
    width: 410px;
    float: left;
    border-bottom: solid 1px #1d1d1d;
}
.blog_text {
    margin: 0;
    padding-left: 10px;
    float: left;
    width: 360px;
}
.blog_nick {
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    color: #ff9999;
    float: left;
}
.post_content {
    font-family: tahoma;
    font-size: 11px;
    /*color: #4a4949;*/
    line-height: 15px;
}
.post_time {
    font-family: tahoma;
    font-size: 11px;
    color: #ff9999;
    float: right;
}

/*------------------------------------*\
        FRIEND LISTS
\*------------------------------------*/
.friend ul{
    width:760px;
    margin-bottom:20px;
    overflow:hidden;
    border-top:1px solid #ccc;
}
.frient li{
    line-height:1.5em;
    /*border-bottom:1px solid #ccc;*/
    float:left;
    display:inline;
}
#double li	{ width:50%;}
#triple li	{ width:33.333%; }
#quad li		{ width:25%; }
#six li		{ width:16.666%; }
