.standard-form h4 {
  margin: 0;
  padding: 0; }
.standard-form .btn-custom {
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }
.standard-form .btn {
  text-decoration: none;
  display: inline-block;
  background: #fff;
  border: 1px solid #acacac;
  color: #5b5b5b;
  padding: 7px 15px;
  outline: none;
  cursor: pointer; }
  .standard-form .btn:hover, .standard-form .btn :active, .standard-form .btn :focus {
    border-color: #009591;
    color: #009591; }
  .standard-form .btn.btn-primary {
    color: #fff;
    background: #009591;
    border-color: #009591; }
.standard-form select {
  border: 1px solid #acacac;
  padding: 6px 5px; }
  .standard-form select:hover, .standard-form select :active, .standard-form select :focus {
    outline: none;
    border-color: #009591; }
.standard-form input, .standard-form textarea {
  border: 1px solid #acacac;
  margin: 0;
  padding: 7px 5px; }
  .standard-form input:hover, .standard-form input :active, .standard-form input :focus, .standard-form textarea:hover, .standard-form textarea :active, .standard-form textarea :focus {
    border-color: #009591;
    outline: none; }
.standard-form div.form-group {
  font-size: 14px;
  line-height: 30px;
  margin: 30px 0; }
  .standard-form div.form-group span.form-control, .standard-form div.form-group div.form-control {
    display: block;
    padding-left: 185px; }
    .standard-form div.form-group span.form-control input.input-large, .standard-form div.form-group div.form-control input.input-large {
      width: 576px; }
.standard-form div > label {
  line-height: 32px;
  float: left; }
.standard-form div.command-button.command-right {
  text-align: right; }
.standard-form .link-dec, .standard-form .link, .standard-form .link-b, .standard-form .link-b-dec {
  color: #009591;
  text-decoration: underline; }
.standard-form .link, .standard-form .link-b {
  text-decoration: none; }
.standard-form .link-b {
  font-weight: bold; }
.standard-form .link-b-dec {
  font-weight: bold; }




.table-bordered {
  border-width: 0;
  border-spacing: 0; }
  .table-bordered tr td {
    border-color: #acacac;
    border-style: solid;
    border-width: 0 1px 1px 0;
    text-align: center;
    padding: 5px; }
    .table-bordered tr td:first-child {
      border-left-width: 1px; }
  .table-bordered tr:first-child td {
    border-top-width: 1px; }

.table-custom {
  border-spacing: 0; }
  .table-custom tr td, .table-custom tr th {
    padding: 5px; }

form.register {
  margin: 50px 0 0; }
  form.register h4 {
    color: #222;
    font-size: 21px; }
  form.register p {
    line-height: 30px;
    margin: 0; }
  form.register div {
    color: #5b5b5b;
    padding: 0; }
    form.register div.form-group {
      margin: 30px 0; }
    form.register div table {
      border-spacing: 0; }
      form.register div table tr td {
        padding: 0; }
      form.register div table.customers {
        width: 588px;
        margin-top: 10px; }
      form.register div table.captcha-box tr td {
        padding: 0 0 0 30px; }
    form.register div span.form-control > a, form.register div div.form-control > a {
      color: #5b5b5b;
      text-decoration: none;
      margin-left: 20px; }
    form.register div .captcha-box {
      float: right; }
      form.register div .captcha-box img {
        display: block;
        border: 1px solid #acacac; }
    form.register div.fixed-width {
      width: 772px; }
    form.register div.command-button {
      text-align: right; }

.register-end {
  margin: 50px 0 0;
  text-align: center; }
  .register-end h4 {
    font-size: 21px;
    color: #222; }
  .register-end p {
    font-size: 14px;
    line-height: 30px;
    margin: 0; }
  .register-end .command-button {
    margin: 50px 0 0; }

#account-register-form .fixed-width, #recover-password-form .fixed-width {
  width: 610px; }

form.idea-form h4 {
  font-size: 18px;
  color: #393939; }
form.idea-form div.form-group span.form-control input.input-large, form.idea-form div.form-group div.form-control input.input-large {
  width: 508px; }
form.idea-form div table {
  border-spacing: 0; }
  form.idea-form div table.captcha-box tr td {
    padding: 0 0 0 30px; }
form.idea-form div .captcha-box {
  float: right; }
  form.idea-form div .captcha-box img {
    display: block;
    border: 1px solid #acacac; }
form.idea-form .command-button {
  text-align: right; }
  form.idea-form .command-button button {
    width: 123px; }

.recover-end {
  margin: 50px 0 0;
  text-align: center; }
  .recover-end h4 {
    font-size: 21px;
    color: #222; }

#gift-register .form-group .form-control {
  padding-left: 230px; }
  #gift-register .form-group .form-control input.input-large {
    width: 463px; }

.table-full-width {
  width: 100%; }

/*# sourceMappingURL=forms.css.map */