*{margin:0;padding:0;}
body{font-size:12px;line-height:18px;font-family:Arial;background:#000 url(../images/main-bg.jpg) repeat 0 0;}
img{border:none;}
a{outline:none;text-decoration:none;}
a:hover{text-decoration:underline;}
button, input, textarea{font-family:Arial;font-size:12px;outline:none;}
.divclear{display:inline-block;width:100%;float:left;}
#header{height:132px;background:url(../images/bg-menu.png) no-repeat center 71px;position:relative;z-index:200;}
#logo{height:88px;background:#010101 url(../images/bgbanner.jpg) no-repeat center 0;}
#logo a{display:block;width:179px;height:68px;margin:10px auto;}
.login-from{display:inline-block;width:296px;position: absolute;top:10px;right:10px;bottom:51px;background:rgba(0,0,0,.5);padding:5px;border-radius:5px;border:1px #000 solid;color:#fff;}
.login-from input{display:inline-block;width:110px;border:1px #000 solid;height:18px;padding:2px 3px;border-radius:2px;float:left;margin:0 3px 0 0;}
.login-from button#btn-submit-login{cursor: pointer; !important,display:inline-block;*display:inline;zoom:1;height:18px;background:#FF8000 url(../images/username.png) no-repeat center 2px;font-size:10px;font-weight:bold;color:#fff;border:1px #FF8000 solid;line-height:14px;padding:0 8px;border-radius:2px;}
.login-from a.forgot{color:#FF0000;float:right;text-decoration:underline;}
.login-from span{font-size:11px;}
.login-from span b{float:left;}
.login-from span a{display:inline-block;float:left;*display:inline;zoom:1;margin:0 3px;color:#FF0080 !important;}
.login-from span img{float:left;margin:0 5px 0 0;}
.my-avatar{display:inline-block;width:50px;height:50px;border:1px #fff solid;padding:2px;border-radius:2px;float:left;margin:0 10px 0 0;}
#header .inside{width:990px;margin:0 auto;height:132px;position:relative;}
.quick-link{display:inline-block;width:228px;float:right;}
.quick-link strong{display:inline-block;width:100%;padding:0 0 3px 0;position:relative;}
.quick-link ul{position:absolute;min-width:150px;height:26px;display:inline-block;padding:0 5px;background:rgba(0,0,0,.9);*background:#000;border:1px #000 solid;border-radius:2px;list-style:none;top:-6px;left:0;overflow:hidden;z-index:1000;}
.quick-link ul a{color:#fff;font-weight:normal;padding:0 0 0 28px;background:url(../images/icon-tab.png) no-repeat 0 0;display:inline-block;height:23px;line-height:23px;}
.quick-link ul li{display:inline-block;width:100%;padding:2px 0;border-bottom:1px #808080 dotted;margin:2px 0 -2px 0;}
.hover-user{height:21px;}
.quick-link ul:hover{height:auto;}
a.head-link{display:inline-block;width:79px;height:30px;background:url(../images/button-top.png) no-repeat center 0;color:#fff;font-weight:bold;text-align: center;line-height:30px;position: absolute;top:0;left:20px;}
a.head-link:hover{background:url(../images/button-top-hover.png) no-repeat center 0;}
#menu{display:inline-block;height:44px;line-height:44px;}
#menu li{display:inline-block;*display:inline;zoom:1;float:left;padding:0 20px 0 0;position:relative;}
#menu li a{color:#ccc;text-transform:uppercase;font-size:11px;font-weight:bold;margin-left:5px;}
ul.child{display:none;position:absolute;width:423px;border:solid 1px #666;border-radius:2px;background:#fff url(../images/list_game_bg.png) repeat-x 0 bottom;}
.child li{display:inline-block;width:50%;height:50px;line-height:50px;float:left;border-bottom:dotted 1px #666;padding:0 !important;border-right:1px #666 solid;margin:0 -1px -1px 0;}
.child img{display:inline-block;float:left;margin:10px 4px 0 0;}
.child a{text-transform:none !important;}
.child a:hover{color:#f5bd03 !important;text-decoration:none !important;}
#container .inside{width:982px;margin:0 auto;padding:4px;background:#121212;}
.content{float:none !important;}
.slide{display:inline-block;width:701px;height:295px;border:1px #fff solid;float:left;}
.left-page{display:inline-block;width:703px;float:left;}
.list-item{background:#131010;margin:15px 0;}
h3#titles{display:inline-block;width:231px;height:39px;background:url(../images/label.png) no-repeat center 0;text-align:center;line-height:35px;margin:-5px 0 5px 20px;}
h3#titles a{color:#fff;}
.items{display:inline-block;width:25%;float:left;text-align:center;position:relative;padding:0 0 20px 0;}
.items a.item-img{display:block;width:140px;height:90px;margin:15px auto;position:relative;z-index:100;}
.items strong{display:inline-block;width:100%;position:relative;z-index:100;color:#F8F8F8;}
span.quick-link{display:none;width:100%;position:absolute;bottom:15px;background:url(../images/fast_view_like.png) no-repeat center 0;left:0;height:27px;line-height:27px;z-index:150;}
.btn-play{display:inline-block;width:80px;background:url(../images/fast_view_like.png) no-repeat 0 -30px;font-size:11px;font-weight:bold;color:#C7C2B2;float:left;height:27px;}
.btn-info{display:inline-block;width:66px;background:url(../images/fast_view_like.png) no-repeat -84px -30px;font-size:11px;color:#C7C2B2;float:right;text-align:left;padding:0 0 0 20px;height:27px;}
.btn-play:hover{background:url(../images/fast_view_like.png) no-repeat 0 -62px;color:#fff;}
.btn-info:hover{background:url(../images/fast_view_like.png) no-repeat -84px -62px;color:#fff;}
.items:hover span.quick-link{display:inline-block;}
span.line{display:inline-block;width:100%;padding:10px 0;background:url(../images/line-game.png) no-repeat center center;}
.right-page{display:inline-block;width:267px;float:right;}
.ads{display:inline-block;width:100%;position:relative;height:243px;padding-bottom:52px;}
.ads span{display:inline-block;width:100%;height:49px;background:url(../images/napsms.jpg) no-repeat center 0;line-height:49px;text-align:center;color:#fff;font-size:22px;font-weight:bold;margin:6px 0 0;position:absolute;bottom:0;}
.ads a{position:absolute;display:block;width:267px;height:243px;}
.tab-content{height:368px;background:url(../images/bg-topcaothu.png) no-repeat center 0;margin:15px 0 0;}
#footer{border-top:2px solid #333333;margin-top:30px;}
#footer ul{display:inline-block;width:195px;float:left;list-style:none;border-left:1px solid #2a1f1f;color:#ccc;}
#footer li.head{height:30px;line-height:30px;border-bottom:1px solid #120909;margin-top:2px;font-weight:bold;font-size:11px;color:#fff;margin-bottom:6px;}
li.group{background:#0b0a0a url(../images/event.png) no-repeat 5px center;padding:0 0 0 30px !important;}
li.question{background:#0b0a0a url(../images/help.png) no-repeat 5px center;padding:0 0 0 25px !important;}
li.yahoo{background:#0b0a0a url(../images/support.png) no-repeat 5px center;padding:0 0 0 33px !important;}
li.facebook{background:#0b0a0a url(../images/facebook.png) no-repeat 5px center;padding:0 0 0 25px !important;}
#footer li{padding:0 20px;}
#footer li a{font-size:11px;color:#ccc;display:inline-block;}
.gl-content{border:solid 1px #3d0300;border-radius:5px;padding:5px 20px;color:#ccc;}
.gl-content p{margin-bottom:15px;}
.contain-shop-list{padding:5px 10px;color:#ccc;width: 712px;display: inline-block;margin-left: -113px;float: left;}

h3.g-title{display:inline-block;width:100%;background:url(../images/line_title.png) no-repeat 0 bottom;height:25px;line-height:25px;font-size:14px;font-weight:normal;margin-bottom:25px;}
h2.g-title{display:inline-block;width:100%;background:url(../images/line_title.png) no-repeat 0 bottom;height:25px;line-height:25px;font-size:14px;font-weight:normal;margin-bottom:25px;}
.g-title span{background:url(../images/event.png) no-repeat 5px center;padding:0 0 0 30px !important;display:inline-block;height:25px;}
#list-comment{list-style:none;width:600px;margin:10px auto;}
#list-comment li{display:inline-block;width:100%;margin:5px 0;padding:5px 0;}
#list-comment a.avatar{display:inline-block;width:50px;height:50px;border:1px #fff solid;padding:1px;float:left;margin:0 15px 10px 10px;}
#list-comment strong{display:inline-block;width:521px;float:right;padding:0 0 10px 0;}
#list-comment span{font-weight:normal;font-size:12px;color:#ff9999;float:right;margin:0 10px 0 0;}
#list-comment strong a{color:#ff9999;}
#list-comment p{margin:0 !important;}
#list-comment li{position:relative;}/* thêm thu?c tính này vào dòng 74 css*/
.view_comment{position:absolute;bottom:5px;right:10px;color:#FF0080;font-weight:bold;font-size:11px;text-shadow:1px 1px 1px #000;}
.creat_comment {position:absolute;bottom:5px;right:10px;color:#FF0080;font-weight:bold;font-size:11px;text-shadow:1px 1px 1px #000;}
.lst-comment ul{width:538px;float:right;border-left:2px #004F27 solid;}
.lst-comment strong{width:458px !important;}
.lst-comment li form{border:2px #004F27 solid;border-left:none;padding:2px;display:inline-block;}
.lst-comment textarea{border:1px #ccc solid;width:426px !important;max-height:80px;display:inline-block;min-height:40px;padding:5px;float:left;}
.lst-comment button{width:90px;display:inline-block;height:52px;float:right;cursor:pointer;margin:0 0 0 2px;border:none;background:#004040;color:#fff;font-size:14px;font-weight:bold;text-shadow:1px 1px 1px #000;}
.create-topic textarea{border:1px #ccc solid;width:600px !important;max-height:80px;display:inline-block;min-height:40px;padding:5px;float:left;}
.create-topic button{width:90px;display:inline-block;height:30px;float:right;cursor:pointer;margin:10px 0 0 15px;border:none;background:#004040;color:#fff;font-size:14px;font-weight:bold;text-shadow:1px 1px 1px #000;}

.admin strong a{color:#FF0000 !important;}
.admin{border-bottom:2px #1b1b1b solid;}
.even{background:#1b1b1b;}
.paging{padding:20px 0 0;text-align:right;}
.paging a, .paging span{border:1px #ccc solid;border-radius:2px;display:inline-block;*display:inline;zoom:1;padding:5px;height:17px;text-align:center;line-height:17px;background:#800000;color:#FFFFFF;margin:5px 1px;}
.paging span{opacity:.5;}
.paging a.current{background:#fff;color:#000;cursor:none}
.m-items{position:relative;display:inline-block;width:100%;border:1px #2b2020 solid;margin:0 -1px -1px -1px;}
.thumb{display:inline-block;float:left;width:83px;border-right:1px #2b2020 solid;position:absolute;top:1px;bottom:1px;left:0;}
.thumb img{display:block;margin:5px auto;}
.m-content{padding:10px 10px 10px 93px;}
.m-content a{color:#ccc;}
a.more{float:right;margin-bottom:20px;}
.m-content a:hover{color:#7ea800;}
.left-user{display:inline-block;width:228px;border:solid 1px #1d1d1d;background:#121212 url(../images/bg_left_user.png) no-repeat center bottom;padding:10px 1px 200px 1px;border-radius:5px;}
.large-img{display:block;width:100px;height:100px;padding:2px;border:1px #ccc solid;float:left;margin:-49px 10px 10px;border-radius:100%;position:relative;z-index:100;background:#121212;}
.left-user span{display:block;color:#fff;}
.left-user h3{display:block;height:35px;line-height:35px;border-bottom:1px #22231F solid;background:url(../images/black-navi.png) repeat-x 0 center;position:relative;padding:0 10px;color:#fff;border-radius:5px 5px 0 0;font-size:18px;font-weight:normal;text-shadow:-1px -1px 1px #000;text-align:center;margin:-10px 0 10px 0;}
.user-menu{list-style:none;display:inline-block;width:100%;}
.user-menu li{display:inline-block;width:100%;height:35px;background:url(../images/black-navi.png) repeat-x 0 center;line-height:35px;}
.user-menu li a{color:#fff;font-weight:bold;text-shadow:-1px -1px 1px #000;padding:0 0 0 20px;margin:0 0 0 20px;}
.bck-1{background:url(../images/profile/user.png) no-repeat 0 center;}
.bck-2{background:url(../images/profile/mi.png) no-repeat 0 center;}
.bck-3{background:url(../images/profile/change_ava.png) no-repeat 0 center;}
.bck-4{background:url(../images/profile/shop.png) no-repeat 0 center;}
.bck-5{background:url(../images/profile/friends.png) no-repeat 0 center;}
.bck-6{background:url(../images/profile/giao_dich.png) no-repeat 0 center;}
.bck-7{background:url(../images/profile/qua_tang.png) no-repeat 0 center;}
.bck-8{background:url(../images/profile/links.png) no-repeat 0 center;}
.bck-9{background:url(../images/profile/change_pass.png) no-repeat 0 center;}
.bck-10{background:url(../images/profile/logout.png) no-repeat 0 center;}

.bck-wc{background:url(../images/profile/bang_hoi.png) no-repeat 0 center;}
.bck-mb{background:url(../images/clans/member.png) no-repeat 0 center;}
.bck-ed{background:url(../images/clans/edit.png) no-repeat 0 center;}
.bck-lw{background:url(../images/clans/wait.png) no-repeat 0 center;}
.bck-cl{background:url(../images/clans/group.png) no-repeat 0 center;}
.bck-lvc{background:url(../images/clans/leave.png) no-repeat 0 center;}
.bck-dn{background:url(../images/clans/donate.png) no-repeat 0 center;}
.bck-iv{background:url(../images/clans/invite.png) no-repeat 0 center;}

span.title-user{display:inline-block;width:208px;height:37px;line-height:44px;background:url(/skin/images/profile/left_hover.png) no-repeat 100% center;margin:0 -9px 10px 9px;text-align:right;font-weight:bold;font-size:11px;text-shadow:-1px -1px 1px #000;padding:0 10px;position:relative;z-index:50;}
.over-info{font-size:14px;color:#FF8000;}
.right-user{display:inline-block;float:right;background:#121212;border:solid 1px #1d1d1d;border-radius:5px;width:726px;position:relative;min-height:300px;}
.right-user h3{display:block;height:35px;line-height:35px;border-bottom:1px #22231F solid;background:url(../images/black-navi.png) repeat-x 0 center;position:relative;padding:0 10px;color:#fff;border-radius:5px 5px 0 0;font-size:18px;font-weight:normal;text-shadow:-1px -1px 1px #000;text-align:right;}
.user-form{width:500px;margin:20px auto;color:#ccc;}
.user-form strong{display:inline-block;width:100%;font-size:14px;font-weight:normal;padding:10px 0 5px 0;}
.line{display:inline-block;width:100%;padding:7px 0;}
.line span{display:inline-block;width:120px;float:left;line-height:24px;}
.line input,textarea{display:inline-block;width:300px;padding:2px 5px;color:#ccc;border:1px solid #636363;background:#000;height:24px;}
.line textarea{height:100px}
.line button{background:#004040;font-size:14px;padding:8px 25px;border:none;color:#fff;cursor:pointer;box-shadow:0 3px 5px #000;}
.line #add-email{background:#ccc;font-weight:bold;font-size:14px;padding:8px 25px;border:none;color:#fff;cursor:pointer;box-shadow:0 3px 5px #000;}
.line .delete-email{background:#FF0080;font-weight:bold;font-size:14px;padding:8px 25px;border:none;color:#fff;cursor:pointer;box-shadow:0 3px 5px #000;}
.line label input{width:auto;float:left;margin:0 5px 0 0;}
.line label{display:inline-block;float:left;margin:0 10px 0 0;height:24px;line-height:24px;}
.user-form b{color:#FF0000;}
label.mess{padding:10px;background:rgba(0,0,0,.7);border:1px #000 solid;border-radius:5px;display:block;text-align:center;}
label.mess p.err_mess{color: red;font-weight: bold;font-size: 17px;}
.right-user p{margin:8px 0 0;}
/*update*/
.list-game,.list-avatar{list-style:none;width:100%;display:inline-block;}
.list-game li{display:inline-block;width:90px;overflow: hidden;height: 127px;float:left;margin:10px 5px;padding:5px;background:#000;border-radius:3px;box-shadow:0 2px 3px #000;}
.list-game li span{display:inline-block;width:100%;padding:3px 0 0;color:#008000;text-align:center;font-weight:bold;text-shadow:1px 1px 1px #000;}

.list-avatar li{display:inline-block;width:100px;overflow: hidden;height: 187px;float:left;margin:10px 4px;padding:5px;background:#000;border-radius:3px;box-shadow:0 2px 3px #000;}
.list-avatar li span{display:inline-block;width:100%;padding:3px 0 0;color:#008000;text-align:center;font-weight:bold;text-shadow:1px 1px 1px #000;}
.list-avatar a{display: inline-block;margin:0;}


.game-type{border-radius:5px;overflow:hidden;}
.game-type strong{height:35px;background:url(../images/black-navi.png) repeat-x 0 center;display:block;color:#fff;text-align:center;line-height:35px;font-size:14px;text-shadow:1px 1px 1px #000;}
.game-type ul{list-style:none;border:1px #282828 solid;border-radius:0 0 5px 5px;background:#0F0000;}
.game-type ul li{display:inline-block;width:100%;height:32px;line-height:32px;border-bottom:1px #282828 dotted;margin:1px 0 -1px 0;}
.game-type ul a{display:inline-block;height:32px;background:url(../images/arrow-r.png) no-repeat 0 center;margin:0 20px;font-size:14px;color:#fff;padding:0 0 0 23px;}
.head-tab a{display:inline-block;width:85px;height:32px;background:url(../images/tab-nav.png) no-repeat center 0;float:left;margin:0 2px;text-align:center;color:#fff;line-height:35px;font-weight:bold;opacity:.5;}
a.active{opacity:1;}
.list-tab{list-style:none;display:inline-block;width:100%;padding:3px 0 0;}
.list-tab li{display:inline-block;width:100%;height:33px;}
.list-tab span{display:inline-block;width:18px;height:26px;font-size:12px;float:left;background:url(../images/ranks.png) no-repeat 0 0;text-align:center;line-height:33px;font-weight:bold;color:#FF0000;margin:0 5px 0 10px;}
.list-tab a{display:inline-block;*display:inline;zoom:1;color:#7EA800;font-weight:bold;line-height:33px;}
.list-tab strong{float:right;margin:0 10px 0 0;color:#ccc;line-height:33px;}


.title-tab{display: inline-block;width: 95%;height: 32px;float: left;margin: 0 2px;text-align: center;color: #fff;line-height: 52px;font-weight: bold;}
.noel-tab{height:90%;margin-top:10px;}
.noel-box{background:url(../images/bg_xmas.png) no-repeat center 0}

.hidden{display:none;}
.content-tab{border-top:1px #3d0300 solid;display:inline-block;width:100%;position:relative;margin:25px 0;}
.c-tabs{display:inline-block;width:231px;height:39px;background:url(../images/label.png) no-repeat center 0;color:#fff;text-align:center;position:relative;top:-6px;margin:0 5px;opacity:.5;line-height:34px;font-size:17px;}
.first-intro{display:inline-block;width:100%;}
.first-intro img{float:left;margin:0 10px 0 0;}
.right-pro h3{font-size:18px;font-weight:normal;color:#999;}
.right-pro a{display:inline-block;*display:inline;zoom:1;padding:2px 10px 2px 2px;font-size:18px;font-weight:bold;line-height:23px;margin:15px 0;background:#004040;border-radius:2px;color:#fff;}
.right-pro a span{display:inline-block;width:23px;height:23px;background:url(../images/arrow-r.png) no-repeat center center;border-right:1px #ccc solid;margin:0 10px 0 0;float:left;}
.items-news{display:inline-block;width:100%;}
.game-type .odd{background:#1b1b1b;}
.list-news{border:1px #282828 solid;border-radius:0 0 5px 5px;color:#999;}
.items-news{display:inline-block;width:100%;border-bottom:1px #282828 dotted;margin:1px 0 -1px 0;padding:7px 0;}
.items-news a.list{background:url(../images/gamenews_list.png) no-repeat 6px center;padding:0 10px 0 20px;color:#999;}
.items-news a.lstimg img{display:inline-block;float:left;}
.items-news span{display:block;}
.items-news span a{color:#FF0080;}
.lstimg{font-weight:bold;color:#7ea800;}

.tblList{border-collapse:collapse;width:96%;margin:50px auto}
.tblList th{border:1px solid gray;padding:5px;font-size: 8pt;padding: 4px;text-align:center;color:darkgrey}
.tblList td{border:1px solid gray;padding:5px;text-align:center;color:#CCCCCC}
.tblList .view-item{text-decoration:none;font-weight:bold;color:#222}
.tblList .view-item:hover{text-decoration:underline}
.tblList tbody tr:nth-child(even) {background: #28292e}
.tblList tbody tr:nth-child(odd) {background: #1a1b1f}

.tbl-event{border-collapse:collapse;width:100%;border:2px #800000 solid;}
.tbl-event th{height:30px;border-bottom:1px #800000 solid;border-right:1px #400000 solid;background-image: -ms-linear-gradient(bottom, #000000 27%, #333333 100%);background-image: -moz-linear-gradient(bottom, #000000 27%, #333333 100%);background-image: -o-linear-gradient(bottom, #000000 27%, #333333 100%);background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));background-image: -webkit-linear-gradient(bottom, #000000 27%, #333333 100%);background-image: linear-gradient(bottom,#000000 27%, #333333 100%);}
.tbl-event tbody td{border-bottom:1px #400000 solid;padding:5px 10px;border-right:1px #400000 solid;}
.tbl-event tbody{border-bottom:2px #800000 solid;}
.tbl-event tfoot{background:#110000;}
.tbl-event .title-event td{padding:5px 10px;text-align:center;background:#400000;}
.tbl-event p{padding:2px 10px !important;margin:0 !important;}

.all-team{list-style:none;}
.all-team li{border-top:2px #800000 solid;padding:5px 0;}
.all-team li img{display:block;width:40px;height:40px;float:left;border-radius:100%;border:2px #ccc solid;margin:5px 10px 5px 5px;}
.all-team li:hover img{border:2px #fff solid;box-shadow:0 0 10px #008000;}
.all-team strong a{color:#FFFF00;}
.all-team p{color:#ccc;}
.all-team p b{color:#FF8000;}

.all-member{list-style:none;}
.all-member li{border-top:2px #800000 solid;padding:5px 0;}
.all-member li img{display:block;width:40px;height:40px;float:left;border-radius:100%;border:2px #ccc solid;margin:5px 10px 5px 5px;}
.all-member li:hover img{border:2px #fff solid;box-shadow:0 0 10px #008000;}
.all-member strong a{color:#FFFF00;}
.all-member p{color:#ccc;}
.all-member p b{color:#FF8000;}

.creatteam{display:inline-block;width:66px;padding:0 0 0 25px;height:26px;float:left;background:url(../images/profile/submit.png) no-repeat -2px -2px;margin:5px 0;font-size:14px;color:#000000;text-shadow:1px 1px 1px #ccc;font-weight:bold;text-align:left;line-height:26px;border-radius:3px;}
.creatteam:hover{box-shadow:0 0 10px #008000;color:#FF0000;text-decoration:none !important;}
.team-overview{margin:10px;border-bottom:2px #800000 solid;height:248px;color:#ccc;position:relative;}
.jointbn{display:inline-block;background:#800000;position:absolute;bottom:0;right:0;height:25px;line-height:25px;color:#fff;padding:2px 5px 0 0;border:none;cursor:pointer;}
.jointbn span{display:inline-block;width:25px;font-size:20px;font-weight:bold;float:left;text-align:center;border-right:1px #B90000 solid;margin:0 5px 0 0;}
.team-overview img{display:inline-block;width:120px;float:left;border:1px #400000 solid;box-shadow:0 0 9px #FF0000;margin:0 10px 0 0;}
.list-mem{padding:10px;}
.list-mem strong.tit{height:27px;line-height:27px;display:block;background:#000000;color:#fff;padding:0 10px;}
.member-item li{display:inline-block;width:100%;color:#ccc;padding:5px 0;}
.member-item a{display:block;width:40px;height:40px;border-radius:100%;float:left;margin:0 5px;overflow:hidden;border:1px #0000FF solid;}
.member-item span{float:right;color:#FF0080;font-weight:normal;}
.member-item p{display:block;color:#808000;font-weight:bold;}
.small-pagin{padding:10px 5px;text-align:right;border-top:2px #800000 solid;}
.small-pagin a{color:#ccc;border:1px #ccc solid;padding:2px 5px;border-radius:2px;margin:4px 2px;float:left;}
a.pactive{background:#ccc;color:#222;}

.ui-tabs{display:inline-block;width:100%;background:#242424;border-radius:5px 5px 0 0;}
.ui-tabs a{display:inline-block;min-width:100px;height:30px;float:left;*display:inline;zoom:1;line-height:30px;text-align:center;color:#FFFF00;font-weight:bold;font-size:14px;border-bottom:3px #242424 solid;padding:0 10px;}
.ui-tabs a:hover{border-bottom:3px #414141 solid;text-decoration:none;}
a.active-tab{border-bottom:3px #800000 solid;background:#590000}
button.agree{background:#004040;font-size:10px;padding:2px 15px;border:none;color:#fff;cursor:pointer;box-shadow:0 3px 5px #000;}
button.cancel,.kick{background:#FF0000;font-size:10px;padding:2px 15px;border:none;color:#fff;cursor:pointer;box-shadow:0 3px 5px #000;}

.tab-panel{padding-bottom:20px;}
p.brn{text-align:right;margin-top:0;}
p.brn strong{float:left;color:#fff;}
.intro{display:inline-block;width:287px;float:left;}
.intro img{width:14px !important;height:14px !important;box-shadow:none;border:none !important;margin-right:5px !important;margin-top:7px;}
.intro p{display:block;font-size:14px;margin:0;height:29px;line-height:29px;padding:0 5px;border:1px #222 solid;margin:-1px -1px 1px 1px;}
.onlytext{display:block;height:26px;padding:2px 5px;width:400px;float:left;background:#000;border:none;color:#ccc;}
.spr{margin:0 !important;}

.invite-user{border-radius:5px;width:63px;height:19px;background:#ccc;color:#000;font-weight:bold;}
.invite-user:hover{margin:2px 0px 0px 2px;cursor:pointer}

/*new-update*/
.list-result{list-style:none;padding:10px;}
.list-result li{display:inline-block;width:100%;padding:5px 0;color:#ccc;}
.list-result li strong{color:#fff;font-size:13px;display:inline-block;min-width:90px;}
.list-result li span.col2{font-weight:bold;padding:0 20px;}
/*color*/
.win{color:#7ea800;}
.lose{color:#FF0000;}
.equal{color:#EE82EE;}

.detail-info{display:inline-block;width:100%;text-align:left;margin:2px;}
.detail-info b{color:yellow;}

p.msg-null{color:#000;display:block;text-align:center;font-weight:bold;font-size:15px;font-style:italic;line-height:24px;background:#ffca95 url('../images/warning.png') no-repeat 4px 4px;border:1px #ff9122 solid;border-radius:4px;height:24px;padding:4px;}

.list-event{list-style:none;padding:10px;}
.list-event li{display:inline-block;width:100%;padding:5px 0 10px 0;}
a.img-event{display:inline-block;width:110px;float:left;margin:0 15px;}
.list-event h3{font-size:13px;}
.list-event h3 a{color:#fff;}
.list-event em{font-weight:bold;font-size:11px;color:#FF0000;padding:0 0 10px 0;}
.list-event p{line-height:18px;}
.list-event .read_more{display:inline-block;width:120px;float:right;margin-top:10px;}
.list-event .dotline{width: 657px;height: 16px;float: left;background:url('../images/dotline.jpg') repeat-x}
.reg_event_btn{background:rgba(0,0,0,.7);border:none;cursor:pointer}
.error_list{
    color: red;
}