@charset "utf-8";ul{list-style:none;float:left}
li{list-style:none;float:left}
/*
body{font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;background:#000;color:#ccc;font-size:12px;background-color:#000000;}
*/
body{
    background: url("../images/main-bg.jpg") repeat scroll 0 0 transparent;
    color: #CCCCCC;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color:#666;*/
}

img{border:none}
.body_bg{}
a{text-decoration:none;color:#CCC;border:none;float:left;outline:none;}
a:hover{text-decoration:none;color:#7ea800;border:none;}
.tcenter{text-align:center}
.tright{text-align:right}
.inline{display:inline}
#wrapfull{width:100%}
.w970{width:970px;margin-left:auto;margin-right:auto}
.w1000{width:1000px;margin-left:auto;margin-right:auto}
.w318{width:318px}
.w245{width:245px}
.w585{width:585px}
.w120{width:120px}
.w80{width:80px}
.w500{width:500px}
.w635{width:635px}
.w121{width:121px}
.w180{width:180px}
.w100{width:100px}
.w125{width:125px}
.w200{width:200px}
.w129{width:129px}
.h24{line-height:24px}
.h33{height:33px !important;line-height:33px}
.h58{height:58px;line-height:58px}
.h64{height:64px;}
.h160{height:160px}
.h150{height:150px}
.mr9{margin-right:9px}
.ml9{margin-left:9px}
.ml10{margin-left:10px}
.mt1{margin-top:1px}
.mt15{margin-top:15px}
.mt30{margin-top:30px}
.mt20{margin-top:20px}
.mt49{margin-top:44px}
.pl10{padding-left:10px}
.p2{padding:2px}
.mnews{margin:5px 0 0 10px}
.pt5{padding-top:5px}
.pr5{padding-right: 5px}
.pr10{padding-right: 10px}
.mt5{margin-top:5px}
.vm{vertical-align:middle}
.mt-45{margin-top:-45px}
.mt-48{margin-top:-48px}
.mt-10{margin-top:-10px}
.mb0{margin-bottom:0px}
.ml11{margin-left:10px}
.mb10{margin-bottom:10px}
.mb5{margin-bottom:5px}
.bold{font-weight:bold}
.p510{padding:5px 10px}
.overflow{overflow:hidden}
.mr10{margin-right:10px}
.w72{width:72px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mauto{margin:0 auto !important}
.ml30{margin-left:30px}
.p1{padding:1px}
.mr25{margin-right:25px}
.ml15{margin-left:15px}
.ml100{margin-left:100px}
.bg0{background:#000 !important}
.tleft{text-align:left;}
.inviteleft{text-align:left;width:140px;}
.tahoma{font-family:Tahoma, Geneva, sans-serif}
#topbar{background:url(../images/bg_nav.png) repeat-x;height:30px;line-height:30px}
#topbar2{background:url(../images/bg-menu.png) no-repeat center;height:35px;line-height:35px; margin-top:12px;}
.top_glist{background:url(../images/top_glist.png) no-repeat center right;width:90px;}
.top_glist:hover{background:url(../images/top_glist2.png) no-repeat center right;width:105px;}
.top_glist:hover a{color:#FFcc00;font-weight:bold}
#top_qglist_heading{background:url(../images/top_glist_bg.png) repeat-x;height:28px;line-height:28px}
.top_qglist_heading_block{background:url(../images/top_glist_bg.png) repeat-x;height:28px;line-height:28px;width:186px;text-align:center;}
.top_qglist_block{}
.top_qglist_item1{display:block;height:45px;line-height:45px;width:210px; border-bottom: 1px dotted #464646; }
.top_qglist_item1 img, .top_qglist_item2 img, .top_qglist_item1l img, .top_qglist_item2l img{margin-left:5px;vertical-align:middle;margin-right:5px}
.top_qglist_item1 a, .top_qglist_item2 a, .top_qglist_item1l a, .top_qglist_item2l a{color:#7ea800;}
.top_qglist_item1.colleft {border-right: 1px solid #464646}
.top_qglist_item1.hidebottomborder {border-bottom: none;}
.top_qglist_item1 a {color: #fff;}
.top_qglist_item1 a:hover {color: #f5bd03;}
.top_qglist_item2{background:url(../images/glist_bg.png) 0px -35px no-repeat;display:block;height:35px;width:186px;line-height:35px}
.top_qglist_item1l{background:url(../images/glist_bg.png) no-repeat;display:block;height:36px;width:186px;margin-bottom:6px;line-height:35px}
.top_qglist_item2l{background:url(../images/glist_bg.png) 0px -35px no-repeat;display:block;height:36px;width:186px;margin-bottom:6px;line-height:35px}
.f11{font-size:11px}
.f10{font-size:10px}
.f28{font-size:28px}
.fff{color:#FFF}
.ccc{color:#ccc;}
.c7{color:#7c7c7c}
.c9{color:#999}
.bg1b{background-color:#1b1b1b}
.bg28{background-color:#282828}
.fgb{font-weight:bold;color:#7ea800}
.fgbh:hover{font-weight:bold;color:#7ea800}
.bg12{background-color:#121212}
.bg222{background-color:#222}
.round5{-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-khtml-border-radius:5px;}
.round10{-moz-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-khtml-border-radius:10px;}
label.mess{padding:10px;background:rgba(0,0,0,.7);border:1px #000 solid;border-radius:5px;display:block;text-align:center;}
label.mess p.err_mess{color: red;font-weight: bold;font-size: 17px;}
.left{float:left;}
.right{float:right}
.clear{clear:both}
.border666{border:solid 1px #666}
.border1d{border:solid 1px #1d1d1d}
.border3d0300{border:solid 1px #3d0300}
.borderfff{border:solid 1px #fff}
.dot666{border-bottom:dotted 1px #666}
.bottom666{border-bottom:solid 1px #222}
.right666{border-right:solid 1px #666}
.bordertb666{border-bottom:solid 1px #666;border-top:solid 1px #666;}
.right666{border-right:1px solid #666}
#top_grd{background:url(../images/top_grd.png) no-repeat;width:959px;height:1px !important;}
.top-login{width:71px;height:16px;margin-top:7px}
.top-logout{width:71px;height:16px;margin-top:5px}
.top-welcome{color:#ff6600;font-family:Tahoma, Geneva, sans-serif}
.top-ciao{background:url(../images/ciao.png) no-repeat;height:16px;padding-left:20px}
.top-item{background:url(../images/item.png) no-repeat;height:16px;padding-left:20px}
.top-friend{background:url(../images/friend.png) no-repeat;height:16px;padding-left:20px}
#topbar2_home:hover{/*background:url(../images/menu.png) 0 0;*/width:80px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_home:active{/*background:url(../images/menu.png) 0 0;*/width:80px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_home-active{/*background:url(../images/menu.png) 0 0;*/width:80px;height:33px;display:block; font-weight:bold;}
#topbar2_home{/*background:url(../images/menu.png) 0 -34px;*/width:80px;height:33px;display:block; font-weight:bold;}

#topbar2_event:hover{background:url(../images/menu.png) -90px 0;width:78px;height:33px;display:block; font-weight:bold;}
.topbar2_event2{/*background:url(../images/menu.png) -90px 0 !important;*/width:78px !important;height:33px !important;display:block !important}
#topbar2_event:active{/*background:url(../images/menu.png) -90px 0;*/width:78px;height:33px;display:block}
#topbar2_event-active{/*background:url(../images/menu.png) -90px 0;*/width:78px;height:33px;display:block}
#topbar2_event{/*background:url(../images/menu.png) -90px -34px;*/width:78px;height:33px;display:block}

#topbar2_gameonline:hover{/*background:url(../images/menu.png) -169px 0;*/width:91px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_gameonline:active{/*background:url(../images/menu.png) -169px 0;*/width:91px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_gameonline-active{/*background:url(../images/menu.png) -169px 0;*/width:91px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_gameonline{/*background:url(../images/menu.png) -169px -34px;*/width:91px;height:33px;display:block;font-weight:bold;}

#topbar2_intro:hover{/*background:url(../images/menu.png) -169px 0;*/width:75px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_intro:active{/*background:url(../images/menu.png) -169px 0;*/width:75px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_intro-active{/*background:url(../images/menu.png) -169px 0;*/width:75px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_intro{/*background:url(../images/menu.png) -169px -34px;*/width:75px;height:33px;display:block;font-weight:bold;}

#topbar2_bandidong:hover{/*background:url(../images/menu.png) -260px 0;*/width:85px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_bandidong:active{/*background:url(../images/menu.png) -260px 0;*/width:85px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_bandidong-active{/*background:url(../images/menu.png) -260px 0;*/width:85px;height:33px;display:block}
#topbar2_bandidong{/*background:url(../images/menu.png) -260px -34px;*/width:85px;height:33px;display:block; font-weight:bold;}

#topbar2_gamemobile:hover{/*background:url(../images/menu.png) -346px 0;*/width:91px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_gamemobile:active{/*background:url(../images/menu.png) -346px 0;*/width:91px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_gamemobile-active{/*background:url(../images/menu.png) -346px 0;*/width:91px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_gamemobile{/*background:url(../images/menu.png) -346px -34px;*/width:91px;height:33px;display:block; font-weight:bold;}

#topbar2_gameflash:hover{/*background:url(../images/menu.png) -454px 0;*/width:91px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_gameflash:active{/*background:url(../images/menu.png) -454px 0;*/width:91px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_gameflash-active{/*background:url(../images/menu.png) -454px 0;*/width:91px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_gameflash{/*background:url(../images/menu.png) -454px -34px;*/width:91px;height:33px;display:block; font-weight:bold;}

#topbar2_banghoi:hover{/*background:url(../images/menu.png) -563px 0;*/width:80px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_banghoi:active{/*background:url(../images/menu.png) -563px 0;*/width:80px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_banghoi-active{/*background:url(../images/menu.png) -563px 0;*/width:80px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_banghoi{/*background:url(../images/menu.png) -563px -34px;*/width:80px;height:33px;display:block; font-weight:bold;}


#topbar2_blog:hover{/*background:url(../images/menu.png) -664px 0;*/width:60px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_blog:active{/*background:url(../images/menu.png) -664px 0;*/width:60px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_blog-active{/*background:url(../images/menu.png) -664px 0;*/width:60px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_blog{/*background:url(../images/menu.png) -664px -34px;*/width:60px;height:33px;display:block; font-weight:bold;}

#topbar2_user:hover{/*background:url(../images/menu.png) -735px 0;*/width:70px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_user:active{/*background:url(../images/menu.png) -735px 0;*/width:70px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_user-active{/*background:url(../images/menu.png) -735px 0;*/width:70px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_user{/*background:url(../images/menu.png) -735px -34px;*/width:70px;height:33px;display:block; font-weight:bold;}

#topbar2_forum:hover{/*background:url(../images/menu.png) -735px 0;*/width:70px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_forum:active{/*background:url(../images/menu.png) -735px 0;*/width:70px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_forum-active{/*background:url(../images/menu.png) -735px 0;*/width:70px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_forum{/*background:url(../images/menu.png) -735px -34px;*/width:70px;height:33px;display:block; font-weight:bold;}


#topbar2_quydinh:hover{/*background:url(../images/menu.png) -735px 0;*/width:75px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_quydinh:active{/*background:url(../images/menu.png) -735px 0;*/width:75px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_quydinh-active{/*background:url(../images/menu.png) -735px 0;*/width:75px;height:33px;display:block; color: #eccc05;font-weight:bold;}
#topbar2_quydinh{/*background:url(../images/menu.png) -735px -34px;*/width:75px;height:33px;display:block; font-weight:bold;}

#topbar2_help{background:url(../images/help.png);width:66px;height:27px;display:block;float:right}
#topbar2_help:hover{background:url(../images/help.png);width:66px;height:27px;display:block;float:right}
.userpass{background:url(../images/userpass_box.png);width:102px;height:16px;display:block;border:none;margin-top:5px;font-size:11px;padding-left:5px;color:#666}
/*
#page-body{background:url(../images/noel_bg.jpg) top center repeat-x;overflow:hidden}
*/
#page-body {
    background: url("../images/main-bg.jpg") repeat-x scroll center top transparent;
    /*background-color:#666;*/
    overflow: hidden;
    /*padding-top:8px*/
}
#tophead{background:url(../images/bgnew.jpg) top center repeat-x;overflow:hidden}
#logo{
    background:url(../images/logo.png);
    width: 181px;
    height: 68px;
    display:block;
    margin-top:13px;
    margin-left: 220px;
    /*Web
    margin-top:13px;
    margin-left: 300px;
    */
}
#btn_charge{
    background: url("../images/button-top.png") no-repeat;
    border: none;
    width: 79px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    font-weight:bold;
    color:white;
}
#btn_charge:hover {
    background: url("../images/button-top-hover.png") no-repeat;
    border: none;
    width: 79px;
    height: 30px;
}
#t-search{background:url("../images/search.png") 0 -10px no-repeat;border:medium none;color:#666666;display:block;font-family:Tahoma, Geneva, sans-serif;font-size:11px;height:25px;margin-top:46px;padding-left:10px;padding-top:5px;width:260px;float:left}
#t-searchbutton{background:url("../images/search.png") -270px 0 no-repeat;height:44px;width:53px;float:left;margin-top:36px;display:block;}
#t-signup{background:url(../images/button/guide.png) 0 -27px;width:92px;height:27px;display:block;margin-top:48px;margin-left:12px;}
#t-guide{background:url(../images/button/guide.png) 0 0;width:105px;height:27px;display:block;margin-top:48px;margin-left:12px}
#t-deposit{background:url(../images/button/guide.png) 0 -54px;width:92px;height:27px;display:block;margin-top:48px;margin-left:17px}
#t-signup:hover{background:url(../images/button/guide.png) -105px -27px;width:92px;height:27px;display:block;margin-top:48px;margin-left:12px}
#t-guide:hover{background:url(../images/button/guide.png) -105px 0;width:105px;height:27px;display:block;margin-top:48px;margin-left:12px}
#t-deposit:hover{background:url(../images/button/guide.png) -105px -54px;width:92px;height:27px;display:block;margin-top:48px;margin-left:17px}
#home-feature{/*background:url(../images/feature_bg.png);*/ background-color: #121212 !important;width:960px;height:252px;display:block;padding:5px;/*margin-bottom:8px*/}
#home-game{/*background:url(../images/feature_bg.png);*/ background-color: #121212 !important;width:960px;height:615px;display:block;padding:5px;/*margin-bottom:8px*/}
#home-diff{background:url(../images/diff.png);width:970px;height:176px;display:block;padding:8px 0;margin-bottom:8px}
.diff-block{width:310px;height:175px;margin-left:8px;}
.diff-list{background:url(../images/list.png) no-repeat center left;padding-left:20px}
.diff-bar{height:47px;line-height:47px}
.diff-bar:hover{font-weight:bold;color:#7ea800}
.diff-why{background:url(../images/diff_bar2.png) 0 0;width:300px;height:23px;display:block;color:#f99e2a;padding-left:10px;padding-top:7px;font-weight:bold}
.diff-dif{background:url(../images/diff_bar2.png) 0 0;width:300px;height:23px;display:block;color:#f99e2a;padding-left:10px;padding-top:7px;font-weight:bold}
.diff-promo{background:url(../images/diff_bar2.png) 0 0;width:300px;height:23px;display:block;color:#f99e2a;padding-left:10px;padding-top:7px;font-weight:bold}
.home-gamelist-block{width:678px;margin-bottom:8px;overflow:hidden;padding-bottom:20px;background-color:#131010 !important;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-khtml-border-radius:5px;}
.home-gamenews-block{width:318px;margin-bottom:8px;overflow:hidden;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-khtml-border-radius:5px;background-color:#121212 !important;}
.gamelist_bg{background:url(../images/line_title.png) repeat-x top !important;}
.topgame_bg{background:url(../images/bg-topcaothu.png) no-repeat; }
.sidebar_bg{/*background:url(../images/sidebar_bg.png) repeat-x top !important;*/background:url(../images/mt-sidebar-bg.png) repeat-x top !important;background-color:#121212 !important}
.home-play{background:url(../images/btn_choigame.png) no-repeat;width:92px;height:20px;display:block;margin-left:17px;margin-top:8px}
.home-guide{background:url(../images/btn_huongdan.png) no-repeat;width:92px;height:20px;display:block;margin-left: 87px;margin-top: -20px;}
.home-newsitem{background:url(../images/news-list.png) no-repeat center left;padding-left:20px;margin-left:10px}
.home-newsitem:hover{font-weight:bold;color:#7ea800}
#home-bottomlink{}
#page-footer{/*background:url(../images/footer.png) repeat-x;*/homedisplay:block;height:190px}
.toplist{background:url(../images/ranks.png) no-repeat;height:26px;display:block;padding-left:5px;margin-left:10px}
.toplist1{background:url(../images/orderlist.png) 0 -25px no-repeat;height:26px;display:block;padding-left:40px;margin-left:10px}
.toplist2{background:url(../images/orderlist.png) 0 -64px no-repeat;height:26px;display:block;padding-left:40px;margin-left:10px}
.toplist3{background:url(../images/orderlist.png) 0 -100px no-repeat;height:26px;display:block;padding-left:40px;margin-left:10px}
.toplist4{background:url(../images/orderlist.png) 0 -148px no-repeat;height:26px;display:block;padding-left:40px;margin-left:10px}
.toplist5{background:url(../images/orderlist.png) 0 -192px no-repeat;height:26px;display:block;padding-left:40px;margin-left:10px}
.toplistlv{padding-right:15px;padding-left:10px;background:#333;width:130px;text-align:right}
#crystal-logo{background:url(../images/crystal-logo.png);width:117px;height:43px;display:block;}
.gm-topgame-label{background:url(../images/label/topgame.png) no-repeat;width:115px;height:30px;display:block}
.gm-topgame-block{width:318px;overflow:hidden;margin-bottom:8px;}
.gm-topgame-block a{text-decoration:none;float:left}
.gm-topgame-block img{border:none}
.gm-newsitem{background:url(../images/gamenews_list.png) no-repeat center left;padding-left:20px;margin-left:10px}
.gm-newsitem:hover{font-weight:bold;color:#7ea800}
.gmdt-tlmn-label{background:url(../images/label/tlmn.png) no-repeat;width:185px;height:30px;display:block}
.gmdt-block{width:640px;margin-bottom:8px;overflow:hidden}
.gmdt-play{background:url(../images/button/gmdt-play.png);width:108px;height:27px;display:block}
.gmdt-friend-paging a{float:left;font-size:10px;color:#FFF;padding-left:6px}
.gmdt-friend-label{font-size:17px;color:#f99e2a}
.gmdt-friend-prev{background:url(../images/gmdt-paging.png) -55px -3px no-repeat;width:20px;height:20px;display:block;margin-right:6px;text-align:center;font-size:8px}
.gmdt-friend-prev a, .gmdt-friend-next a{font-size:5px;margin-top:6px;font-family:Tahoma, Geneva, sans-serif;color:#666}
.gmdt-friend-pn:hover{background:url(../images/gmdt-paging.png) -29px -3px no-repeat;width:20px;height:17px;display:block;padding-top:3px;text-align:center}
.gmdt-friend-current:hover{background:url(../images/gmdt-paging.png) -29px -3px no-repeat;width:20px;height:17px;display:block;padding-top:3px;margin-right:6px;text-align:center}
.gmdt-friend-current{background:url(../images/gmdt-paging.png) -29px -3px no-repeat;width:20px;height:17px;display:block;padding-top:3px;margin-right:6px;text-align:center;}
.gmdt-friend-pn{background:url(../images/gmdt-paging.png) -55px -3px no-repeat;width:20px;height:17px;display:block;margin-right:6px;padding-top:3px;text-align:center}
.gmdt-friend-next{background:url(../images/gmdt-paging.png) -55px -3px no-repeat;width:20px;height:20px;display:block;text-align:center;font-size:8px}
.gmdt-guide{background:url(../images/gmdt-guide.png) repeat-x scroll 0 -44px #121212;height:260px}
.gmdt-about{background:url(../images/label/gmdt-about.png) no-repeat;width:146px;height:30px;display:block;margin-top:49px}
.gmdt-howto{background:url(../images/gmdt-howto.png) no-repeat;width:146px;height:30px;display:block;margin-top:49px}
.gmdt-content{text-align:justify}
.gmdt-content a{float:none;color:#CCCCCC;}
.gmdt-about-title{background:url(../images/tlmn-icon.png) left no-repeat;font-size:18px;padding-left:35px}
.gmdt-samecat{background:url(../images/label/samecat.png) repeat-x top;width:639px;height:196px;margin-bottom:8px;padding:5px;}
.mt-sidebar{width:230px;height:160px}
.mt-sidebar-item{background:url(../images/mt-sidebar-bg.png) repeat-x;width:100%;height:35px;}
.mt-buy{background:url(../images/mt-buy.png) no-repeat;width:97px;height:23px;display:block;margin:5px 0 0 18px}
.mt-sell{background:url(../images/mt-sell.png) no-repeat;width:97px;height:23px;display:block;margin:5px 0 0 18px}
.mt-buy:hover{background:url(../images/mt-buy.png) 0 -23px no-repeat;width:97px;height:23px;display:block;margin:5px 0 0 18px}
.mt-sell:hover{background:url(../images/mt-sell.png) 0 -23px no-repeat;width:97px;height:23px;display:block;margin:5px 0 0 18px}
.mt-buy:active{background:url(../images/mt-buy.png) 0 -23px no-repeat;width:97px;height:23px;display:block;margin:5px 0 0 18px}
.mt-sell:active{background:url(../images/mt-sell.png) 0 -23px no-repeat;width:97px;height:23px;display:block;margin:5px 0 0 18px}
.mt-buy-active{background:url(../images/mt-buy.png) 0 -23px no-repeat;width:97px;height:23px;display:block;margin:5px 0 0 18px}
.mt-sell-active{background:url(../images/mt-sell.png) 0 -23px no-repeat;width:97px;height:23px;display:block;margin:5px 0 0 18px}
.mt-post{background:url(../images/mt-post.png);width:228px;height:83px;display:block;border:1px solid #000}
.mt-body{width:730px;background:url(../images/gamelist_bg.png) repeat-x top;background-color:#121212;overflow:hidden;padding-bottom:30px}
.mt-body2{width:710px;background:url(../images/gamelist_bg.png) repeat-x top;background-color:#121212;overflow:hidden;padding-bottom:30px;padding-left:10px;padding-right:10px}
.mt-table{background:url(../images/mt-table-bg.png) top repeat-x;padding:1px;height:558px;margin:5px;overflow:hidden}
.mt-table-title{width:345px;float:left;margin-left:10px;}
.mt-table-time{width:144px;float:left;margin-left:10px;}
.mt-table-member{width:98px;float:left;margin-left:10px;}
.mt-table-type{width:84px;float:left;margin-left:10px;}
.mt-table-link:hover{font-weight:bold;color:#7ea800}
.mt-table-sell{color:#7ea800;font-weight:bold}
.mt-table-buy{color:#FF0000;font-weight:bold}
.mt-post-body{margin:30px 0 0 50px}
.profile-post-body{margin:30px 0 0 0px}
.mt-post-body input{width:100%;height:19px;border:1px solid #636363;background:#000;color:#ccc;float:left}
.profile-post-body input{width:100%;height:19px;border:1px solid #636363;background:#000;color:#ccc;float:left}
.profile-post-body input[type="submit"]{
    border: 1px solid #2c5115;
    background-image: url("../images/button/Btn_Banghoi.png");
    background-position: -352px -103px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    padding: 2px 6px;   
}
#denyButton{
    border: 1px solid #2c5115;
    background-image: url("../images/button/Btn_Banghoi.png");
    background-position: -352px -54px;
    background-color: #EEE;
    border: 1px solid #999;
    border-bottom-color: #888;
    color: #333;
    font-weight: 700;
    cursor: pointer;
    padding: 2px 6px; 
}

.mt-post-body texrea{width:100%;height:112px;border:1px solid #636363;background:#000;color:#ccc;font-family:Arial, Helvetica, sans-serif;font-size:12px;float:left}
.profile-post-body textarea{width:100%;height:112px;border:1px solid #636363;background:#000;color:#ccc;font-family:Arial, Helvetica, sans-serif;font-size:12px;float:left}
.mt-post-body select{width:200px;border:1px solid #636363;background:#000;float:left;color:#ccc;}
.profile-post-body select{width:200px;border:1px solid #636363;background:#000;float:left;color:#ccc;}
.mt-post-button{background:url(../images/button/mt-post.png);width:78px;height:20px;display:block}
.mt-cancel-button{width:50px;height:20px;display:block}
.mt-newest-label{background:url(../images/label/mt-newest.png) no-repeat;width:105px;height:30px;display:block}
.mt-post-label{width:105px;height:30px;display:block}
.mt-alert{width:418px;height:129px;background:url(../images/alert_bg.png) no-repeat top !important;padding:1px}
.pr-alert{width:418px;height:169px;background:#000;padding:1px}
.pr-alert2{width:418px;background:url(../images/alert_bg.png) no-repeat top !important;padding:1px;overflow:hidden;background-color:#000 !important}
.pr-alert textarea{width:396px;height:40px;border:1px solid #666;background:#333;color:#ccc;font-family:Arial, Helvetica, sans-serif;font-size:12px;float:left}
.mt-alert-title{font-size:17px}
.mt-alert-close{background:url(../images/button/mt-close.png);width:60px;height:18px;display:block}
.tour-block{height:275px;margin-bottom:8px;}
.tour-item{width:295px;height:210px;margin:20px 0 0 20px;float:left}
.tour-happening{background:url(../images/label/tour-happening.png) no-repeat;width:174px;height:30px;display:block}
.tour-image{padding:1px;text-align:center}
.tour-detail{background:url(../images/button/tour-detail.png);width:88px;height:24px;display:block}
.pcontact{background:url(../images/contact_bg.png) no-repeat center !important;padding:1px;width:965px;height:582px}
.pcontact-des{width:540px;margin:40px}
.pcontact-number{background:url(../images/contact_sale_bg.png);width:33px;height:33px;font-size:31px;color:#FFF;text-align:center;margin-left:-40px;}
.pcontact-leftBold{border-left:solid 2px #ccc;padding-left:5px;color:#FFF;margin:0 0 0 40px}
.pcontact-leftBold p{margin-bottom:5px;margin-top:0px;overflow:hidden;font-size:11px;font-family:Tahoma, Geneva, sans-serif}
.pcontact-headline{font-size:20px;color:#CCC;margin-bottom:5px;margin:40px 0 10px 40px}
.pcontact-sale{margin-left:40px}
.pcontact-hotline{}
.pcontact-yahoo{background:url(../images/yahoo.png) no-repeat top;width:40px;height:79px;display:block;margin-right:50px;padding-top:45px;margin-left:30px}
.pcontact-skype{background:url(../images/skype.png) no-repeat top;width:40px;height:79px;display:block;margin-right:50px;padding-top:45px}
.pcontact-mail{background:url(../images/mail.png) no-repeat top;width:40px;height:79px;display:block;padding-top:45px}
.about-label{background:url(../images/label/about-label.png);width:192px;height:30px;display:block}
.about-content{width:725px;text-align:justify;margin:15px auto 30px auto;overflow:hidden}
.about-pic{padding:1px}
.profile-sidebar-link{font-size:14px;color:#FFF;margin-left:15px;line-height:35px;}
.profile-sidebar-link-active{/*background:url(../images/profile/left_hover.png) no-repeat !important;*/font-size:14px;color:#f7911b;margin-left:15px;line-height:35px;width: 200px;}
.profile-sidebar{width:230px;overflow:hidden;}
.profile-avatar{padding:10px;overflow:hidden}
.profile-update-label{background:url(../images/label/profile-update.png);width:176px;height:30px;display:block;}
.profile-update-fr-label{background:url(../images/label/profile-update-fr.png);width:245px;height:30px;display:block;}
.profile-friendlist-label{background:url(../images/label/profile_friendlist.png);width:174px;height:30px;display:block;}
.profile-body{width:730px;background-color:#121212;overflow:hidden;padding-bottom:20px;}
.profile-bar{background:url(../images/gamelist_bg.png) repeat-x top !important;background-color:#121212 !important;}
.giaodich-bar{background:url(../images/giaodich_topbg.png) repeat-x top;}
.giaodich-label{font-size:18px;margin-bottom:10px}
.profile-update-item{height:40px;line-height:40px;background:url(../images/profile-bar-item.png) bottom repeat-x;}
.profile-win{color:#7ea800;}
.profile-lose{color:red;}
.profile-balance{color:violet;}
.profile-sidebar-link:hover, .profile-sidebar-link:active{/*background:url(../images/profile/left_hover.png) no-repeat !important;*/margin-left:15.profile-post-body inputpx;color:#f7911b;width: 200px;}
.tabl-inactive{background:url(../images/label/tab-nav.png) left no-repeat!important;height:30px;overflow:hidden;display:block;float:left;padding:5px 0 5px 10px;margin-left:10px}
.tabr-inactive{background: url("") right;overflow:hidden;height:30px;line-height:30px;font-size:14px;padding-right:15px;padding-left:0px;}
.tabl{background:url(../images/label/tab-nav.png) left no-repeat;height:30px;margin-left:2px;overflow:hidden;display:block;float:left;padding:5px 0 5px 10px;}
.tabl_game{background:url(../images/label/tabl_game.png) left no-repeat;height:40px;margin-left:10px;overflow:hidden;display:block;float:left;padding:5px 0 5px 10px;}
.tabl_game_home{background:url(../images/label/tabl_game.png) left no-repeat;height:40px;margin-left:10px;overflow:hidden;display:block;float:left;padding:5px 0 5px 10px;}
.tabr_game_home{background:url(../images/label/tabhome_game_danh_bai_online.png) right no-repeat;margin-left: 3px;overflow:hidden;height:40px;line-height:40px;font-size:14px;padding-right:10px;color:#FFF}
.tabr{background:url(../images/label/tabr.png) right;overflow:hidden;height:30px;line-height:30px;font-size:14px;padding-right:10px;padding-left:0px;color:#FFF}
.tabr_game{background:url(../images/label/tabr_game.png) right no-repeat;margin-left: 3px;overflow:hidden;height:40px;line-height:40px;font-size:14px;padding-right:10px;color:#FFF}
.tabr-active{background:url("") right;opacity:1;overflow:hidden;height:30px;line-height:30px;font-size:14px;padding-right:18px;padding-left:0px;color:#white;}
.tabr:hover, .tabr:active, .tabr-active:hover{color:#eccc05;}
.tabl-inactive1{background:url("http://gamevina.com/skin/images/tab-nav.png") left no-repeat!important;height:29px;overflow:hidden;display:block;float:left;padding:5px 0 5px 5px;margin-left:10px}
.tabr-inactive1{background:url(../images/label/tabr2.png) right;overflow:hidden;height:29px;line-height:30px;font-size:17px;padding-right:10px;padding-left:5px;}
.tabl1{background:url(../images/label/tabl.png) left no-repeat;height:30px;margin-left:10px;overflow:hidden;display:block;float:left;padding:5px 0 5px 5px;}
.tabr1{background:url(../images/label/tabr.png) right;overflow:hidden;height:30px;line-height:30px;font-size:17px;padding-right:10px;padding-left:5px;color:#FFF}
.tabr-active1{background:url(../images/label/tabr.png) right;overflow:hidden;height:30px;line-height:30px;font-size:17px;padding-right:10px;padding-left:5px;color:#f99e2a;}
.tabr1:hover, .tabr1:active, .tabr-active1:hover{color:#f99e2a;}
.stabl-inactive{background:url(../images/label/stabl.png) top left no-repeat!important;height:24px;overflow:hidden;display:block;float:left;padding:0px 10px;}
.stabr-inactive{background:url(../images/label/stabr.png) top right;overflow:hidden;height:24px;line-height:24px;font-size:14px;padding-right:20px;padding-left:10px;}
.stabl{background:url(../images/label/stabl.png) top left no-repeat;height:25px;overflow:hidden;display:block;float:left;padding:0px 10px;border-bottom:1px solid #121212}
.stabr{background:url(../images/label/stabr.png) top right;overflow:hidden;height:25px;line-height:24px;font-size:14px;padding-right:10px;padding-left:10px;color:#FFF;border-bottom:1px solid #121212;overflow:hidden}
.stabr-active{background:url(../images/label/stabr.png) top right;overflow:hidden;height:25px;line-height:24px;font-size:14px;padding-right:10px;padding-left:10px;color:#f99e2a;border-bottom:1px solid #121212}
.stabr:hover, .stabr:active, .stabr-active:hover{color:#f99e2a;}
.profile-savepass{background:url(../images/button/profile_savepass.png);width:116px;height:18px;display:block}
.profile-save{background:url(../images/login/update.png) no-repeat;width:78px;height:23px;display:block}
.profile-thayavatar{background:url(../images/button/thayavatar.png);width:76px;height:18px;display:block}
.eevent{background:url(../images/button/event.png) 0 0 no-repeat;width:119px;height:30px;display:block;margin:5px 0 0 15px}
.ehelp{background:url(../images/button/event.png) 0 -30px no-repeat;width:119px;height:30px;display:block;margin:3px 0 0 15px;}
.ehelp:hover, .ehelp:active, .ehelp-active, .ehelp-active:hover{background:url(../images/button/event.png) -119px -30px no-repeat;width:119px;height:30px;display:block;margin:3px 0 0 15px}
.eevent:hover, .eevent:active, .eevent-active, .eevent-active:hover{background:url(../images/button/event.png) -119px 0 no-repeat;width:119px;height:30px;display:block;margin:5px 0 0 15px}
.ebody{padding-left:20px;padding-top:27px}
.atop{color: #0babd9;}
.atop:hover{color: #7EA800;}
.etop{margin-bottom:25px}
.eitem{margin-bottom:25px}
.etop-img{border:2px solid #ccc}
.eitem-img{border:1px solid #ccc;padding:1px}
.etop-body{margin-left:10px;width:310px}
.eitem-body{margin-left:10px;width:438px}
.etop-title a{font-size:18px;margin-bottom:10px;overflow:hidden;color:#7ea800}
.eitem-title a{font-size:12px;margin-bottom:10px;overflow:hidden;color:#7ea800;font-weight:bold}
.etop-des{color:#999;text-align:justify;margin-bottom:10px}
.etop-more a{color:#999;text-decoration:underline;font-size:11px;padding-bottom:2px;margin-bottom:10px}
.emore a:hover{color:#7ea800}
.etop-comment{background:url(../images/comment.png) left no-repeat;width:300px;padding-left:30px;height:22px;line-height:22px;margin-top:10px;overflow:hidden;font-size:11px;color:#666}
.ecomment a{color:#666}
.eitem-des{color:#999;text-align:justify;margin-bottom:5px}
.eitem-more a{color:#999;text-decoration:underline;font-size:11px;padding-bottom:2px;margin-bottom:5px}
.emore a:hover{color:#7ea800}
.eitem-comment{background:url(../images/comment.png) left no-repeat;width:300px;padding-left:30px;height:22px;line-height:22px;margin-top:10px;overflow:hidden;font-size:11px;color:#666}
.ecomment a{color:#666}
.edetail{width:600px}
.edetail-des{font-weight:bold;color:#999;text-align:justify;margin-bottom:20px}
.edetail img{border:1px solid #ccc;padding:1px}
.econtent p{margin-bottom:15px;text-align:justify;clear:both}
.econtent a{float:none;}
.vip-quyenloi{width:450px;margin-right:10px;margin-top:113px}
.vip-plan{background:#333;width:480px;height:396px;margin:20px 15px 20px 0}
.vip-planitem{width:160px;height:396px;float:left;text-align:center;margin-top:10px}
.vip-item{font-size:12px;color:#999;font-weight:bold;line-height:40px;height:40px}
.vip-plantitle{font-size:19px;color:#7ea800;margin-top:10px;width:160px;}
.vip-plandetail{margin-top:10px;width:160px;}
.vip-pland{background:url(../images/vip-bg.png) repeat-x;height:38px;line-height:38px;width:159px;font-size:14px;font-weight:700}
.vip-point{font-size:20px;color:#7ea800;margin-top:20px;}
.vip-req{font-size:19px;color:#FFF;margin-top:15px}
.vip-reqex{font-size:12px;color:#7ea800;margin-top:10px}
.vip-t{background:url(../images/vip-tbg.png) no-repeat !important;padding-top:1px;width:947px;height:384px;margin:5px 0 10px 8px}
.vip-th{height:35px;line-height:35px}
.vip-tlist{width:345px;float:left;color:#ccc}
.vip-tpoint{width:344px;float:left;color:#ccc}
.vip-trank{width:214px;float:left;color:#ccc}
.vip-titem{height:76px;line-height:76px;border-bottom:dotted 1px #666}
.f18{font-size:18px}
.mt10{margin-top:10px}
.pr10{padding-right:10px}
.rankitem{margin:0 0 0 20px;font-size:19px;color:#7ea800;vertical-align:middle}
.changpass-error{background:url(../images/pass-error.png) no-repeat;height:45px;line-height:45px;font-size:18px;width:430px;margin-left:140px;padding-left: 53px;}
.changpass-ok{background:url(../images/pass-ok.png) no-repeat;height:45px;line-height:45px;font-size:18px;width:430px;margin-left:140px;padding-left: 53px;}
.friend_online_item{height:90px;line-height:90px;border-bottom:dotted 1px #999;padding-left:10px}
.friend_onlineUser{width:260px;overflow:hidden;float:left;}
.friend_onlineUser a{color:#00cc00}
.friend_onlineUser img{padding:1px;border:1px solid #666;margin-right:10px;vertical-align:middle;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-khtml-border-radius:5px;}
.friend_onlineGame{width:160px;overflow:hidden;float:left}
.friend_onlineCiao{width:160px;overflow:hidden;float:left}
.friend_onlinePM{float:left}
.giaodich_h{height:45px;line-height:45px;font-weight:700;border-bottom:solid 1px #595959}
.giaodich_item{background:url(../images/giaodich_item.png) repeat-x;height:28px;line-height:28px;border-bottom:dotted 1px #595959}
.giaodich_hNgaygionap{width:198px;float:left;text-align:center}
.giaodich_hSotien{width:195px;float:left;text-align:center}
.giaodich_hPhuongthuc{width:320px;float:left;text-align:center}
.giaodich_hKhuyenmai{text-align:center}
.giaodich_hThoigiannhan{width:330px;float:left;text-align:center}
.giaodich_hMonqua{width:380px;float:left;text-align:center}
.giaodich_hThoigianchoi{width:145px;float:left;text-align:center}
.giaodich_hGame{width:200px;float:left;text-align:center}
.giaodich_hKetqua{width:188px;float:left;text-align:center}
.giaodich_hChitiet{width:130px;float:left;text-align:center}
.giaodich_hThoigiandangnhap{width:330px;float:left;text-align:center}
.giaodich_hThoiluongonline{width:380px;float:left;text-align:center}
.giaodich-taikhoan{font-size:15px;color:#fff}
.giaodich-nap a{color:#7ea800;text-decoration:underline;font-size:11px;text-align:right;float:right}
.dc831b{color:#dc831b}
.red{color:#Ff0000}
.f16{font-size:16px}
.pb30{padding-bottom:30px}
.event-other{margin-bottom:30px}
.event-other a{background:url(../images/event-list.png) no-repeat;padding-left:10px;height:15px;line-height:15px;margin-bottom:10px}
.event-other a:hover{font-weight:700}
.event-comment-label{font-size:19px;background:url(../images/event-comment.png) no-repeat left;padding-left:30px;height:23px;line-height:23px}
.event-comment-block{background:#333;border:1px solid #666;padding:10px;margin-bottom:15px}
.event-comment-top{background:url(../images/event-comment-top.png) no-repeat;height:7px}
.event-comment-body{background:#121212;border:1px solid #666;border-top:none;padding:10px;color:#666;}
.event-comment-sbody{background:#121212;border:1px solid #666;border-top:none;padding:10px;color:#666;height:100px;width:95%;overflow:hidden}
.event-comment-item{margin-bottom:10px;}
.event-comment-user{background:url(../images/event-comment-icon.png) no-repeat;padding-left:20px;height:17px;line-height:17px}
.event-comment-sublabel{background:url(../images/event-comment-submit.png) no-repeat;padding-left:30px;height:20px;line-height:20px;font-size:19px}
.event-comment-submit{background:url(../images/submit_comment.png) no-repeat;width:78px;height:22px;display:block}
.reg2 input{height:19px;border:none;background:#666;color:#000;float:left}
.h19{line-height:19px;height:19px}
.reg2 textarea{width:100%;height:112px;border:none;background:#666;color:#ccc;font-family:Arial, Helvetica, sans-serif;font-size:12px;float:left}
.reg{width:78px;height:18px;display:block}
.avatar img{border:1px solid #666;padding:1px;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-khtml-border-radius:5px;}
.cancel{width:50px;height:18px;display:block}
.reg1{width:471px;padding-bottom:20px;background:#000;text-align:center}
.reg2{width:465px;padding-bottom:15px;background:#333;margin:auto;color:#CCC;}
.radio input{background:none !important;border:none !important;height:14px !important;}
.checkbox input{background:none !important;border:none !important;height:14px !important;}
input[type="checkbox"], input[type="radio"]{width:20px;height:20px;vertical-align:middle;}
input[type="file"]{width:220px;border:1px solid #666;background-color:#000;height:24px;vertical-align:middle;margin-right:10px;line-height:30px}
.profile-username{font-size:23px;color:#FFF;margin:10px 0 0 10px}
.profile-tk{font-size:14px;color:#FFF;margin:10px 0 0 10px}
.profile-btn{margin:10px 0 0 10px}
.pr-fnotify{background:#232323;border:1px solid #666;width:690px;overflow:hidden;padding:15px 10px;margin:10px 0 10px 10px}
.f12{font-size:12px}
.pr-addfriend{background:url(../images/button/addfriend.png) 0 0 no-repeat;width:90px;height:23px;display:inline-block}
.pr-addfriend:hover, .pr-addfriend:active, .pr-addfriend-active, .pr-addfriend-active:hover{background:url(../images/button/addfriend.png) 0 -23px no-repeat;width:90px;height:23px;display:inline-block}
.pr-giveciao{background:url(../images/button/giveciao.png) 0 0 no-repeat;width:98px;height:23px;display:inline-block}
.pr-giveciao:hover, .pr-giveciao:active, .pr-giveciao-active, .pr-giveciao-active:hover{background:url(../images/button/giveciao.png) 0 -23px no-repeat;width:98px;height:23px;display:inline-block}
.pr-fitem{}
.pr-ava{padding:1px;border:1px solid #666;width:100px;float:left}
.pr-body{margin-left:10px;float:left}
.pr-input input{background:#000;border:1px solid #636363;color:#333;width:300px}
.yellow{color:#FF0}
#top_qglist_body{background: #181818 url(../images/list_game_bg.png) repeat-x; border: #656567;}
.mt-view{margin-bottom:30px}
.mt-view-ava{float:left;overflow:hidden;margin-top:15px;margin-right:15px}
.mt-view-ava img{padding:1px;border:1px solid #666}
.mt-view-username{font-size:17px;color:#FF0;font-weight:bold;overflow:hidden}
.mt-view-username a{color:#FF0}
.mt-view-body{float:left;overflow:hidden;width:550px;margin-top:15px}
.mt-view-item{margin-top:10px}
.mt-view-title{font-weight:bold;margin-top:10px}
.mt-view-desc{text-align:justify;margin-top:10px}
.fcaf12{color:#fcaf12}
.ff0{color:#FF0}
.pr-invite-link{background:#000;border:#666 1px solid;padding:5px;width:80%;color:#fff}
.pr-invite-mail textarea{background:#000;border:#666 1px solid;padding:5px;width:80%;height:150px;color:#ccc}
.pr-invite-sendmail{background:url(../images/button/invite-mail.png) 0 -19px;width:68px;height:19px;display:inline-block}
.pr-invite-sendmail:hover, .pr-invite-sendmail:active, .pr-invite-sendmail-active:hover, .pr-invite-sendmail-active{background:url(../images/button/invite-mail.png) 0 0px;width:68px;height:19px;display:inline-block}
.pr-invite-import{background:url(../images/button/invite-import.png) 0 -19px;width:109px;height:19px;display:inline-block}
.pr-invite-import:hover, .pr-invite-import:active, .pr-invite-import-active:hover, .pr-invite-import-active{background:url(../images/button/invite-import.png) 0 0px;width:109px;height:19px;display:inline-block}
.pr-invite-mailsubmit{background:url(../images/button/pr-invite-mailsubmit.png);width:81px;height:19px;display:inline-block}
.pr-invite-welcome{background:#000;padding:10px;width:90%;border:#666 1px solid;}
.pr-invite-getinfo{background:url(../images/button/pr-invite-getinfo.png);width:131px;height:19px;display:inline-block}
.pr-invite-get input{background:#000;border:1px solid #666;color:#666}
.pr-invite-get select{background:#000;border:1px solid #666;color:#666}
.pr-invite-topblock{background:#666;width:350px;-moz-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-khtml-border-radius:10px;padding-bottom:30px;float:left;margin-left:10px;margin-top:15px}
.pr-invite-bl-title{font-family:Arial, Helvetica, sans-serif;font-size:19px;color:#FF0;margin:15px auto;clear:both;overflow:hidden;text-align:center}
.pr-invite-topitem{height:44px;line-height:44px;color:#f5f5f5;font-size:14px;background:url(../images/invitetop_bg.png) !important;overflow:hidden;padding-left:15px;margin-left:-1px}
.pr-register{padding:15px;overflow:hidden}
.pr-register-title{font-size:24px;color:#CCC}
.pr-register input{width:100%;border:none;background:#666;color:#000;float:left}
.pr-register textarea{width:100%;height:112px;border:none;background:#666;color:#ccc;font-family:Arial, Helvetica, sans-serif;font-size:12px;float:left}
.pr-invite-maillist{background-color:#000;border:1px solid #666;padding:10px;width:70%;height:200px;overflow:auto}
.pr-invite-maillist-name{width:40%;margin-right:10px}
.pr-invite-maillist-list{width:40%}
.reg2 select{width:150px;height:19px;border:none;background:#666;color:#FFF;float:left}
.reg2 input{color:#fff}
.del-comment:hover{float:right}
.srd{color:#F99E2A}
.forgotpass input{width:400px}
.getpass{background:url(../images/button/getpass.png);width:98px;height:19px;display:block}
.passcancel{background:url(../images/button/pass-cancel.png);width:50px;height:19px;display:block}
.passclose{background:url(../images/button/pass-close.png);width:50px;height:19px;display:block}
.searchitem{list-style:disc;border-bottom:1px dotted #666;border-top:1px dotted #666;padding:10px 0;width:100%;float:left;}
.searchitem a{float:left}
.rtitle{margin-bottom:5px;font-weight:bold;margin-left:20px;margin-top:-14px;}
@-moz-document url-prefix(){.rtitle{margin-top:-3px;}}
.rtitle, rlink a{color:#CCC}
.rtitle, rlink a:hover{color:#7EA800}
.rdesc{margin-left:20px;font-size:12px;color:#CCC;margin-bottom:5px;}
.rlink{margin-left:20px;}
.sg a{border:1px solid #666;margin-bottom:10px;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-khtml-border-radius:5px;}
.guide-menu{width:320px;overflow:hidden}
.guide-body{width:640px !important;overflow:hidden}
.p10{padding:10px}
.justify{text-align:justify}
.guideblock li{list-style:disc;clear:both;margin-bottom:5px;float:left}
.guideblock a{float:right}
.d666{border-top:1px dotted #666}
.ml25{margin-left:25px}
.ml5{margin-left:5px}
.beta_username input{font-size:18px;color:#FC0;}


/**********************BEGIN CIAO88*************************/
.fr{float:right;}
.txtwhite{color:#fff}
.mt-table{height:auto !important;}
.stabr-active{padding-right:20px !important;}
.top_qglist_heading_block{text-shadow:none !important;font-weight:bold;}
.top_glist-activate{background:url("../images/top_glist2.png") no-repeat scroll right center transparent;width:105px;}
.top_glist-activate a{color:#FFcc00;font-weight:bold;}
.top_glist{background:url("../images/top_glist.png") no-repeat scroll right center transparent;width:90px;}
.highlight{color:#FFFF00;}
.connect_widget_summary{color:#fff !important;}
#tab_friend_content img{float:left;margin:5px;}
/**********************END CIAO88*************************/


#remove_friends {
    background: url("../images/remove_friend_btn.png") no-repeat;
    width: 68px;
    height: 18px;
    cursor: pointer;
    margin: 10px;
}


.hotro {
    background: url("../images/social/sprites7.png") no-repeat -387px -63px;
    width: 118px;
    height: 28px;
    display: inline-table;
}

#bottom {
    width: 1024px;
    height: 60px;
    text-align: center;
    padding-top: 30px;
    float: left;
}

.line_game{
    background: url(../images/line-game.png) no-repeat;
    background-position: bottom center; 
    line-height: 1.6em;
    padding: 10px;
    overflow: hidden;
}
/*--- Menu Game Flash--- */
#gameonline_content1 {
    width: 650px;
    height: auto;
    padding-bottom: 15px;
}
#gameonline_content1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#gameonline_content1 li {
    padding-left: 5px;
    padding-top: 10px;
    width: 100px;
    float: left;
}
#gameonline_content1 img {
    padding: 2px;
    border: 1px solid #b4b4b4;
    float: left;
}
.name {
    font-family: tahoma;
    font-weight: bold;
    font-size: 12px;
    color: #2e4f95;
    line-height: 20px;
}
#menu_list {
    height: 50px;
    margin: 0 auto 0 20px;
    padding-top: 10px;
    text-align: center;
    width: 267px;
}
#menu_list ul {
    list-style: none outside none;
}
#menu_list li {
    border-bottom: 1px dotted #8B8D93;
    /*margin-left: -38px;*/
    padding-bottom: 5px;
    padding-top: 5px;
    vertical-align: top;
    width: 180px;
}
#box-info{margin-top:7px; float: left}
#box-info .ava-name-lvl{padding:0 0 0 15px}
#box-info .ava-name-lvl img{width:23px;height:23px}
#box-info .ava-name-lvl .info-name{color:#ffa000;float:left;font-size:13px;margin-left:8px;margin-top:2px;overflow:hidden}
#box-info .ava-name-lvl .level-icon{float:left;width:18px;height:20px;margin-left:5px}
#box-info .ava-name-lvl .avatar{float:left;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
#box-info .ava-name-lvl .icon-xu{background-position:-69px -87px;height:20px;width:20px;float:left;margin-left:15px}
#box-info .ava-name-lvl .icon-vang{background-position:-96px -96px;height:20px;margin-left:15px;float:left;width:28px}
#box-info .ava-name-lvl .xu-value{margin-left:5px;margin-top:3px;float:left}
#box-info .ava-name-lvl .vang-value{float:left;margin-left:5px;margin-top:3px}
#box-info .ava-name-lvl .g-exit a{background-position:-125px -82px;padding:6px 10px 4px 3px}
#box-info .ava-name-lvl .g-exit{margin-top:3px;float:right}
#box-info .ava-name-lvl .g-exit a:hover{color:#fff;background-position:-125px -105px}
#box-info .option-bar-info ul{list-style-type:none;}
#box-info .option-bar-info ul li a{border-right:1px solid #fff;float:left;font-weight:bold;padding-left:4px;padding-right:5px}
#box-info .option-bar-info ul li:last-child a{border-right:0}#box-info .option-bar-info ul li a:hover{color:#dc2606}
.bg-asset{background-image:url("/theme/images/asset.png")}.wrapper-login-register-box{background-color:#000;box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px #000;-webkit-box-shadow:0 0 5px #000;position:absolute;min-height:110px;width:292px;top:56px;right:0;z-index:2}
.row {
    margin-left: -15px;
    margin-right: -38px;
    margin-top: -20px;
}